extends ./template/base.pugtemplate

block meta
    - title = 'shh'
    - description = 'today stuff'
block body 
    h1 정모용페이지
    p ㅇㅇ
    #buttons
    #result
block postbody
    style.
        .song {
            text-align: center;
            border: gray 1px solid;
            color: black;
        }
        .hidden { display: none; }
    script.
        let keys = Object.entries({
            "원문": "#ffffdd",
            "영문": "#ddffdd",
            "한문": "#ddffff",
            //"번역": "#ffddff",
        });
        let main = {
            칠성구멍: [
                "いつも行く公園に ",
                "It-/sumo/ikukō-en-ni",
                "이츠모 유쿠 코엔니",
                "通ったことのない道があった ",
                "kayo/ttako tono na/i mi/chiga a/t/ta",
                "토옷타 코토노 나이 미치가 앗타",
                "草だらけで整備もされず ",
                "kusa darake de/sei bimo sarezu",
                "쿠사다라케데 세비모 사레즈",
                "山奥に続いてた ",
                "yama okuni tsuzu iteta",
                "야마오쿠니 츠즈이테타",
                "暇だったので通ってみました ",
                "himada/ttanode/tō--ttemi mashita",
                "히마닷타노데 토옷테미마시타",
                "数分ほど歩いていると ",
                "sū-bu-hodo aru ite iru to",
                "스분호도 아루이테미루토",
                "見たことのないトンネルがあった ",
                "mita koto no nai/ton-neru ga a/t/ta",
                "미타코토노나이 톤네루가 앗타",
                "仕方ないので入りました ",
                "shikata nai node ha irima shita",
                "시카타나이노데 하이리마시타",
                "壁を見ると穴が開いてたので ",
                "kabe o miru/to ana ga/ai teta node",
                "카베오 미루토 아나가 아이테타노데",
                "指をつっこんだらちょん切れた ",
                "yubi o tsukkon dara chon/kireta ",
                "유비오 츳콘다라 쵼기레타",
                "怖くなったので帰りました　嫌な気分になりました ",
                "kowaku//na/t/ta node kaeri mashita/iyana'kibun/ninari mashita",
                "코와쿠낫타노데 카에리마시타 이야나 키분니 나리마시타",
                "蛙が鳴いたので急ぎました　走ってたら転びました",
                "kaeru/gana i tanode i so gima shita hashi/t/tetara korobi mashita",
                "카에루가 나이타노데 이소기마시타 하싯테타라 코로비마시타",
                "[左]友達に話したら",
                "[L]to//moda chini hana shita ra",
                "[좌]토모타치니 하나시타라",
                "[右]初めて ",
                "[R]////ha/jimete",
                "[우]하지메테",
                "[左]一緒に行くことになりました",
                "[L]i-/sshoni/iku koto ni nari mashita",
                "[좌]잇쇼니 이쿠코토니 나리마시타",
                "[右]聞いた　話だった ",
                "[R]/ki/ita////hanashi da/tta",
                "[우]키이타 하나시닷타",
                "[左]トンネルまで続く道に",
                "[L]ton/neru made/tsu/zuku michi ni",
                "[좌]톤네루마데 츠즈쿠 미치니",
                "[右]付き添いで行くことになった ",
                "[R](<tsuki so)i/de/i/ku/ko/to/ni/na/tta",
                "[우]츠키소이데 이쿠코토니낫타",
                "[左]パイロンが立っていた",
                "[L]pairon ga ta/tte ita",
                "[좌]파이론가 탓테이타",
                "[右]怖かったけど",
                "[R]//kowaka/ttakedo",
                "[우]코와캇다케도 ",
                "[左]通行止めを無視して行きました",
                "[L]tsū/kō/dome o/mushi shite iki mashita",
                "[좌]츠코토메오 무시시테 이키마시타",
                "[右]その道は ",
                "[R]/'sono/mi/chi/wa",
                "[우]소노 미치와",
                "[左]トンネルの前に着きました",
                "[L]ton/neru no mae ni tsuki mashita",
                "[좌]톤네루노 마에니 츠키마시타",
                "[右]行ったことが無かった",
                "[R](<i/)tako toga naka/t/ta ",
                "[우]잇타코토가 나캇타",
                "[左]入ってみると中は暖かく",
                "[L]ha/i tte miruto na/ka wa a/tata kaku",
                "[좌]하잇테미루토 나카와 아타타카쿠",
                "[右]横にはビックリマークだけの ",
                "[R]yoko ni wa bi/kkuri mā/ku/ dake no",
                "[우]요코니와 빗쿠리 마쿠 다케노",
                "[左]変な匂いが立ち込めていた",
                "[L]hen/na nioi ga tachiko mete (i)ta",
                "[좌]헨나 니오이데 타치코메테이타",
                "[右]標識があった ",
                "[R](<hyō/)shi/ki/ ga/a/tta",
                "[우]효시키가 앗타",
                "[左]床の大きな穴に気がつかず",
                "[L]yuka no/ō/kina ana ni ki gatsu kazu",
                "[좌]유카노 오오키나 아나니 키가츠카즈",
                "[右]床の穴から助けようとして",
                "[R]yuka no ana/kara tasuke yo/u toshite",
                "[우]유카노 아나카라 다스케요 토시테",
                "[左]落ちて体が溶けました",
                "[L]ochite karada ga toke mashita",
                "[좌]오치테 카라다가 토케마시타",
                "[右]穴を覗いたら溶けていた",
                "[R]ana o no zoita ra tokete ita",
                "[우]아나오 노조이타라 토케테이타",
                "怖くなったので帰りました　嫌な気分になりました ",
                "kowaku//na/t/ta node kaeri mashita/iyana'kibun/ninari mashita",
                "코와쿠낫타노데 카에리마시타 이야나 키분니 나리마시타",
                "蛙が鳴いたので急ぎました　走ってたら転びました",
                "kaeru/gana i tanode i so gima shita hashi/t/tetara korobi mashita",
                "카에루가 나이타노데 이소기마시타 하싯테타라 코로비마시타",
                "怖くなったので帰りました　嫌な気分になりました ",
                "kowaku//na/t/ta node kaeri mashita/iyana'kibun/ninari mashita",
                "코와쿠낫타노데 카에리마시타 이야나 키분니 나리마시타",
                "蛙が鳴いたので急ぎました　走ってたら転びました",
                "kaeru/gana i tanode i so gima shita hashi/t/tetara korobi mashita",
                "카에루가 나이타노데 이소기마시타 하싯테타라 코로비마시타",
                "怖くなったので帰りました　嫌な気分になりました ",
                "kowaku//na/t/ta node kaeri mashita/iyana'kibun/ninari mashita",
                "코와쿠낫타노데 카에리마시타 이야나 키분니 나리마시타",
                "蛙が鳴いたので急ぎました　走ってたら転びました",
                "kaeru/gana i tanode i so gima shita hashi/t/tetara korobi mashita",
                "카에루가 나이타노데 이소기마시타 하싯테타라 코로비마시타",
                "怖くなったので帰りました　嫌な気分になりました ",
                "kowaku//na/t/ta node kaeri mashita/iyana'kibun/ninari mashita",
                "코와쿠낫타노데 카에리마시타 이야나 키분니 나리마시타",
                "蛙が鳴いたので急ぎました　走ってたら転びました",
                "kaeru/gana i tanode i so gima shita hashi/t/tetara korobi mashita",
                "카에루가 나이타노데 이소기마시타 하싯테타라 코로비마시타",
            ],
            "미카즈키 하이웨이 카": [
                "ちかづけないのなら",
                "chi/ka/zu/ke/nai/nonara",
                "치카즈케나이 노나라",
                "いっしょに　そらをながめようか",
                "i/sshoni sora o na game yo u ka",
                "잇쇼니 소라오 나가메요카",
                "ほしくずのひかる",
                "ho/shi/ku/zu/no/hikaru ",
                "호시쿠즈노 히카루",
                "ミカヅキ・ハイウェイへ",
                "<'mi/kazuki haiu-ei e ",
                "미카즈키 하이웨이에",
                "ほしのみえる　へやで",
                "hoshi no mie/ru/he/ya/de",
                "호시노 미에루 헤야데",
                "くれなずむ　まどをながめる",
                "kure nazumu/mado o nagameru",
                "쿠레나즈무 마도오나가메루",
                "からだはかるい　けれど",
                "karada wa ka/ru/i/keredo",
                "카라다 와카루이 케레도",
                "どこにもいけないや",
                "doko nimo ike naiya ",
                "도코미노 이케나이야",
                "かりものの　うちゅうで",
                "kari mono no/ u/chyu/u/de",
                "카리모노노 우츄데",
                "うごかない　こきをかかげる",
                "ugo kanai/koki o kaka geru",
                "우고카나이 코키오카카게루",
                "ちきゅうから　モールスは",
                "chi kyū-kara/mō/-/rusu wa ",
                "치큐카가 모오루스와",
                "なかなかとどかない",
                "naka naka todo kanai ",
                "나카나카 토도카나이",
                "みぎのてで　しゃしんをがざり",
                "migi note de/shya shi nwo gazari ",
                "미기 노테데 샤시노가자리",
                "ほら　いっしょのゆめをみよう",
                "hora i/sshyono yume womi yo",
                "호라잇쇼노 유메오미요",
                "でんきがないのに　めがさめる",
                "den/ki ga nai noni mega sameru",
                "덴키가 나이노이 메가사메루",
                "なら　よぞらのあるほうへ",
                "nara yo zo-ra no aru hō- e ",
                "나가 요조라노 아루호에",
                "ちかづけないのなら",
                "chi/ka/zu/ke/nai/nonara ",
                "치카즈케 나이노나라",
                "いっしょに　そらをながめようか",
                "is/sho ni sora o nagame you ka ",
                "잇쇼니 소라오 나가메요카",
                "ほしくずのしたの",
                "ho/shi/ku/zu/no/shita no ",
                "호시쿠즈노 시타노",
                "ミカヅキ・ハイウェイへ",
                "mikazuki haiu-ei e",
                "미카즈키 하이웨이에",
                "とびだせないのなら",
                "to/bi/da/se/nai/nonara ",
                "토비다세 나이노나라",
                "いっしょに　そらをながめようか",
                "is/sho ni sora o nagame you ka ",
                "잇쇼니 소라오 나가메요카",
                "るりいろのガイア",
                "ru/ri/i/ro/no/gaia ",
                "루리이로 노 가이아",
                "さがすよ　ハイウェイカー",
                "sagasu yo haiu-eikā ",
                "사가스요 하이웨이카",
                "たそがれの　なきごえ",
                "taso gare no/na/ki/go/e ",
                "타소가레노 나키고에",
                "あかいカラスも　つれづれに",
                "akai kara/su mo tsure zure ni ",
                "아카이카라 스모츠레즈레니",
                "このまちの　ビルたちは",
                "kono machi no/bi/ru/tachi wa ",
                "코노마치노 비루타치와",
                "ずっとしずまないや",
                "zut/to shizu manai ya ",
                "즛토 시즈마나이야",
                "きそくてきな　おとと",
                "kisoku teki/na/o/to/to ",
                "키소즈테키나 오토토",
                "ふきそくな　でんぱをおくる",
                "fuki sokuna/den/pa o okuru ",
                "후키소쿠나 덴파오오쿠루",
                "いまだ　ハズレのようだ",
                "imada/hazure no yō-da ",
                "이마다 하즈레노 요오다",
                "きみのあいずで　とびおきる",
                "kimi no ai/zu de tobi okiru ",
                "키미노 아이즈데 토비오키루",
                "また　みじかいゆめをみよう",
                "mata mijikai yume o miyou ",
                "마타 미지카이 유메오미요",
                "あさひがないのにめがさえる",
                "asahi ga nai noni me ga saeru",
                "아사히가 나이노이 메가사메루",
                "なら　よかぜのさすほうへ",
                "nara yo kaze no sasu hō-e ",
                "나라 요카제노 사스호오에",
                "まにあわないのなら",
                "ma/ni/a/wa/nai/nonara ",
                "마니아와나이 노나라",
                "いっぱい　ペダルふみだそうか",
                "ip/pai pedaru fumida sou ka ",
                "잇빠이 페다루 후미다소우카",
                "こくどうをはしる",
                "ko/ku/dō//o/hashiru ",
                "코쿠도오 오하시루",
                "オンボロハイウェイカー",
                "on/boro haiu-eikā ",
                "온보로 하이웨이카",
                "アナログだったはずの　まちも",
                "anarogudat/ta hazu no machi mo ",
                "아나로구닷타 하즈노 마치모",
                "とぼけてる　ラジオのch（チャンネル）も",
                "toboke teru rajio no chan'neru mo ",
                "토보케테루 라지오노 찬네루모",
                "すべて　わすれても",
                "su/be/te/wasure/te/mo ",
                "스베테 와스레테모",
                "おぼえてる　こえがある",
                "oboe teru koe ga aru",
                "오보에테루 코에가아루",
                "みつからないのなら",
                "mi/tsu/ka/ra/nai/nonara ",
                "미츠카라나이 노나라",
                "きっと　いつかはであえるだろう",
                "kit/to itsuka wa de aeru darou ",
                "킷토 이츠카와데 아에루다로",
                "きみの　シルエット",
                "ki/mi/no/shi/ru/et/to ",
                "치미모 시루엣토",
                "てらすよ　ハイウェイカー",
                "terasu yo haiu-eikā",
                "테라스요 하이웨이카",
                "ちかづけないのなら",
                "chi/ka/zu/ke/nai/nonara ",
                "치카즈케나이 노나라",
                "いっしょに　そらをながめようか",
                "is/sho ni sora o na game youka ",
                "잇쇼니 소라오 나가메요카",
                "ほしくずがおちた",
                "ho/shi/ku/zu/ga/ochita ",
                "호시쿠즈가 오치타",
                "ミカヅキ・ハイウェイへ",
                "mikazuki haiu-ei e",
                "미카즈키 하이웨이에",
                "ミカヅキ・ハイウェイへ",
                "mikazuki haiu-ei e",
                "미카즈키 하이웨이에",
            ],
            "동물농장(아님)": [
                "うまれた　そのいのちのなを　ぼくらは　なにとよぼう",
                "(<Uma)re/ta/so/no/i/no/chi/no na wo/bokura/wa nani to yobou",
                "우마레타 소노이노치 노나오 보쿠라와 나니토요보오",
                "はまりあうからだは　なにをみて　そのてで　なにをすくう",
                "(<Hama)ri/a/u/ka/rada wa nani/wo mite/sono te/de nani wo sukuu",
                "하마리아우 카라다와나니오 미테 소노테데 나니오스쿠우",
                "やまいになやむ　ちをふめないあしに",
                "Ya/ma/i/ni/na/ya/mu/chi o fu/me nai/ ashi ni",
                "야마이니 나야무 치오후메나이 아시니",
                "いつかと　いいきかせて　ふあんにねむる",
                "I/tsu/ka/to/i/i/ki/kasete/fuan/ni nemuru",
                "이츠카토 이이키 카세테 후안니네무루",
                "からだが　すこしたりなくて　だれかに　わけてほしくて",
                "Karada/ga/su/koshi tari naku te/dareka/ni wake/te hoshi kute",
                "카라다가 스코시 타리나쿠테 다레카니 와케테호시쿠테",
                "ひとは　だめ　だというならば",
                "Hito wa/da/me/dato iunaraba",
                "히토와 다메 다토이우나라바",
                "うごくものに　すがるしかなくて",
                "Ugoku/mono ni sugaru shika nakute",
                "우고쿠 모노니 스가루시타나쿠테",
                "うまれた　そのいのちのなを　ぼくらは　なにとよぼう",
                "(<Uma)re/ta/so/no/i/no/chi/no na wo/bokura/wa nani to yobou",
                "우마레타 소노이노치 노나오 보쿠라와 나니토요보오",
                "はまりあうからだは　なにをみて　そのてで　なにをすくう",
                "(<Hama)ri/a/u/ka/rada wa nani/wo mite/sono te/de nani wo sukuu",
                "하마리아우 카라다와나니오 미테 소노테데 나니오스쿠우",
                "しばられた　いのちのおもさ　ぼくらと　なにがちがう",
                "(<Shiba)ra/re/ta/i/no/chi/no/omosa/bokura/to nani ga chigau",
                "시바라레타 이노치노오모사 보쿠라토 나니가치가우",
                "きめられた　こころのみち　すすむさきには　なにがあるの",
                "(<Kime)ra/re/ta/ko/koro no michi/susumu/saki niwa/nani ga aru no",
                "키메라레타 코코로노미치 스스무사키니와 나니가아루노",
                "嵌り合う体は。",
                "(<Hama)ri/au/ka/ra/da/wa",
                "하마리아우 카라다와",
                "きれいな　そのままでは　いやがってしまう",
                "Ki/rei/na/so/no/ma/ma/de wa i/yagatte/shimau",
                "키레이나 소노마마데와 이야갓테 시마우",
                "ぶんしんすれば　みをなげることになる",
                "Bu/n/shi/n/su/re/ba/mi wo na/geru koto ni naru",
                "분신스레바미오 나게루 코토니나루",
                "うごくもの　どうしならしろ　ちょっと　かわいそうだけど",
                "Ugoku/mo/no/dō/shi nara shiro/cho/tto/kawai/souda kedo",
                "우고쿠모노 도시나라시로 춋토 카와이소우다케도",
                "おなじ　ひとのあいだは　くろ",
                "Onaji/hi/to/no aida wa kuro",
                "오나지 히토노아이다와 쿠로",
                "もとめるほどに　ちかづいていく",
                "Motome/ru hodo ni chika zuite iku",
                "모토메루호도니 치카즈이테이쿠",
                "うまれた　そのいのちのなを　ぼくらは　なにとよぼう",
                "(<Uma)re/ta/so/no/i/no/chi/no na wo/bokura/wa nani to yobou",
                "우마레타 소노이노치 노나오 보쿠라와 나니토요보오",
                "はまりあうからだは　なにをみて　そのてで　なにをすくう",
                "(<Hama)ri/a/u/ka/rada wa nani/wo mite/sono te/de nani wo sukuu",
                "하마리아우 카라다와나니오 미테 소노테데 나니오스쿠우",
                "しばられた　いのちのおもさ　ぼくらと　なにがちがう",
                "(<Shiba)ra/re/ta/i/no/chi/no/omosa/bokura/to nani ga chigau",
                "시바라레타 이노치노오모사 보쿠라토 나니가치가우",
                "きめられた　こころのみち　すすむさきには　なにがあるの",
                "(<Kime)ra/re/ta/ko/koro no michi/susumu/saki niwa/nani ga aru no",
                "키메라레타 코코로노미치 스스무사키니와 나니가아루노",
                "うまれた　そのいのちのなを　ぼくらは　なにとよぼう",
                "(<Uma)re/ta/so/no/i/no/chi/no na wo/bokura/wa nani to yobou",
                "우마레타 소노이노치 노나오 보쿠라와 나니토요보오",
                "はまりあうからだは　なにをみて　そのてで　なにをすくう",
                "(<Hama)ri/a/u/ka/rada wa nani/wo mite/sono te/de nani wo sukuu",
                "하마리아우 카라다와나니오 미테 소노테데 나니오스쿠우",
                "しばられた　いのちのおもさ　ぼくらと　なにがちがう",
                "(<Shiba)ra/re/ta/i/no/chi/no/omosa/bokura/to nani ga chigau",
                "시바라레타 이노치노오모사 보쿠라토 나니가치가우",
                "きめられた　こころのみち　すすむさきには　なにがあるの",
                "(<Kime)ra/re/ta/ko/koro no michi/susumu/saki niwa/nani ga aru no",
                "키메라레타 코코로노미치 스스무사키니와 나니가아루노",
            ],
            "カワズウタ": [
                "「帰りましょう、帰りましょう、丑三つ時です。」",
                "'Kaerimashou, kaerimashou, ushimitsu-tokide(su).'",
                "카에리마쇼, 카에리마쇼, 우시미츠토키데스",
                "この場所のルールを守りましょう。",
                "Kono basho no rū-ru o mamorimashou.",
                "코노바쇼노 루우루오 마모리마쇼",
                "「気を付けましょう、気を付けましょう、」嗄れた声が、",
                "'Ki o tsukemashou, ki o tsukemashou,' shagareta koe ga,",
                "키오츠케마쇼, 키오츠케마쇼, 샤가레타코에가,",
                "劈くように耳を這う。",
                "tsunzaku yō ni mimi o hau.",
                "츤자쿠요오니 미미오하우",
                "路面標示の隅っこにある鳥居には、",
                "Romen hyō/-/ji no ///// sumi/-/k/ko ni aru tori i // ni wa,",
                "로멘효오지노 스밋코니 아루토리이니와,",
                "七対三の比率が求められる。",
                "nana tai sa n no /// hi/ri/tsu/ga motome rareru.",
                "나나타이산노 히리츠가모토메라레루",
                "あの落書きに花弁が埋め込まれたから、",
                "Ano rakugaki ni ///// kaben/ga umekomareta // kara,",
                "아노라쿠가키니 카벤가 우메코마레타카라",
                "薄い色素が直ぐに涸れ果てて耳を焦がす。",
                "usui shikiso ga /// su/gu/ni/kare hatete mimi o kogasu.",
                "우스이시키소가 스구니 카레하테테 미미오코가스",
                "「帰りましょう、帰りましょう、丑三つ時です。」",
                "'Kaerimashou, kaerimashou, ushimitsu-tokide(su).'",
                "카에리마쇼, 카에리마쇼, 우시미츠토키데스",
                "この場所のルールを守りましょう。",
                "Kono basho no rū-ru o mamorimashou.",
                "코노바쇼노 루우루오 마모리마쇼",
                "「気を付けましょう、気を付けましょう、」帰る頃には、",
                "'Ki o tsukemashou, ki o tsukemashou,' kaeru koro ni wa,",
                "키오츠케마쇼, 키오츠케마쇼, 샤가레타코에가,",
                "影が削られるでしょう。",
                "kage ga kezura rerudeshou.",
                "카게가케즈 라레루데쇼우",
                "呪いの札の真ん中にある記号には、",
                "Noroi no fuda no ///// man/-/naka ni aru kigō // ni wa,",
                "노로이노후다노 만나카니아루키고니와",
                "四声体の規律に準じている。",
                "yon/seidai no /// ki/ri/tsu n/ji unjite iru.",
                "욘세이다이노 키리츠니준지테이루",
                "あの楽園の詭弁が綺麗過ぎたから、",
                "Ano rakuen no ///// kiben/ga kirei sugi takara,",
                "아노라쿠엔노 키벤가키 레이스기타카라",
                "水溶性の口角は今直ぐ結ばれる。",
                "suiyō-sei no /// kō///ka/ku wa ima sugu musuba reru.",
                "스이요오세이노 코오카쿠와이마스구 무스바레루",
                "「帰りましょう、帰りましょう、丑三つ時です。」",
                "'Kaerimashou, kaerimashou, ushimitsu-tokide(su).'",
                "카에리마쇼, 카에리마쇼, 우시미츠토키데스",
                "この場所のルールを守りましょう。",
                "Kono basho no rū-ru o mamorimashou.",
                "코노바쇼노 루우루오 마모리마쇼",
                "「気が付きましょう、気が付きましょう、」帰る頃には、",
                "'Kigatsukimashou, kigatsukimashou,' kaeru koro ni wa,",
                "키오츠케마쇼, 키오츠케마쇼, 샤가레타코에가,",
                "糸が削られるでしょう。",
                "-ito ga kezura rerudeshou.",
                "이토가케즈라 레루데쇼우",
                "夜が明けたから、",
                "{1b:yoru} ga aketakara,",
                "요루가 아케타카라,",
                "あの子はあの場所に■■■■■",
                "a/no/ko/ha ano basho ni ￭￭￭￭￭",
                "아노코 하아노바쇼니 ￭￭￭￭￭",
                "「帰りましょう、帰りましょう、丑三つ時です。」",
                "'kaerimashou, kaerimashou, ushimitsu-tokide(su).'",
                "카에리마쇼, 카에리마쇼, 우시미츠토키데스",
                "この場所のルールを守りましょう。",
                "Kono basho no rū-ru o mamorimashou.",
                "코노바쇼노 루우루오 마모리마쇼",
                "「気を付けましょう、気を付けましょう、」嗄れた声が、",
                "'Ki o tsukemashou, ki o tsukemashou,' shagareta koe ga,",
                "夜を誘う。",
                "yoru o izanau.",
                "요루오이자나우",
                "「帰りましょう、帰りましょう、丑三つ時です。」",
                "'Kaerimashou, kaerimashou, ushimitsu-tokide(su).'",
                "카에리마쇼, 카에리마쇼, 우시미츠토키데스",
                "この場所のルールを守りましょう。",
                "Kono basho no rū-ru o mamorimashou.",
                "코노바쇼노 루우루오 마모리마쇼",
                "「気が付きましょう、気が付きましょう、」蛙の歌は、",
                "'Kigatsukimashou, kigatsukimashou,' kaeru no uta wa,",
                "키오츠케마쇼, 키오츠케마쇼, 샤가레타코에가,",
                "聴こえなくなるでしょう。",
                "kikoenaku narudeshou.",
                "키코에나쿠 나루데쇼우",
            ],
            "RCP (미완)": [
                "哀愁／情緒 聞く耳持たない天変地異と",
                "aishū jōcho kiku mimi motanai ten'pen'chiito",
                "아이슈 / 죠쵸 키쿠미미모타나이 텐펜치이토",
                "増殖する感嘆符 踵を返した",
                "zō shokusuru kan'tan'fu kibisu kaeshita",
                "조쇼쿠스루 칸탄후 키비스 카에시타",
                "滂沛／瓦解 理性が飽くまで湿度を上げて",
                "bōhai gakai risēga akumade shitsudoo agete",
                "보하이 / 가카이 리세가 아쿠마데 시츠오 아게테",
                "水溶性のリリースをカットした",
                "suiyō sēno rirīsuo kattoshita",
                "스이요 세노 리리스오 캇토시타",
                "流体／焦燥 全部を道連れにする体たらく",
                "ryūtai shōsō zen'buo michizureni suru tētaraku",
                "류타이 쇼소 젠부오미치즈레니 스루테 타라쿠",
                "狼狽する感嘆符 頭抱えて",
                "rōbaisuru kan'tan'fu atama kakaete",
                "로바이스루 칸탄후 아타마 카카에테",
                "平衡／浸潤 特異な空気に溺れそうで",
                "hēkō shin'jun' tokuina kūkini oboresōde",
                "헤코 신준 토쿠이나쿠우키니 오보레소오데",
                "この星ごと俄かに裏切りだしたんだ！",
                "kono hoshigoto niwakani uragiridashitan'da",
                "코노 호시고토 니와카니 우라기리 다시탄다",
                "招いたって痛いんだ乱層 停滞した煽動",
                "manētatte itain'da ran'sō tētaishita sen'dō",
                "마네에 탓테이 타인다란소 테타이시타 센도",
                "あやまちは飽和して 網羅して 百葉箱を執拗にアプローチ",
                "ayamachiwa hōwashite mōrashite hyakuyōbakoo shitsuyōni apurōchi",
                "아야마치마 호와시테 모라시테 햐쿠요 바코오 시츠요니 아푸로치",
                "オフロードって川の上だっけ？ 強がっては風邪ひいちゃって",
                "ofurōdotte kawano uedakke tsuyo gattewa kaze hīchatte",
                "오후로도 테카와노 우에다케 츠요 가테와카제 히찻테",
                "頭の上の頼り無さ それでも僕らは抗いたくて",
                "atamano ueno tayorinasa soredemo bokurawa aragaitakute",
                "아타마노 우에노 타요리나사 소레데모 보쿠라와 아라가이타쿠테",
                "篠突く音の重なりを縢る様に",
                "shino tsuku otono kasanario kagaruyōni",
                "시노츠쿠 오토노 카사나리오 카가루요니",
                "灰色に染まる窓際に雨が降る",
                "haiironi somaru madogiwani amega furu",
                "하이로니 소마루 마도기와니 아메가후루",
                "揺れる空気と暗い街 白昼のソケットを眺めた",
                "yureru kūkito kurai machi hakuchūno sokettoo nagameta",
                "유레루 쿠우키토 쿠라아이마치 하쿠츄우노 소텟토 나가메타",
                "艶めく亜日常引っ張り出して",
                "tsuyomeku anichijō hipparidashite",
                "츠요메쿠아 니치죠오 힛파리다시테",
                "\"Paraphrase!\"",
                "\"Paraphrase!\"",
                "파라프레이즈",
                "篠突く音の粒で塗りつぶす様に",
                "shino tsuku otono tsubude nuritsubusuyōni",
                "시노츠쿠 오토노 츠부데누리 츠부스요오니",
                "退廃も矜持も全部全部ぱらぱらと",
                "taihaimo kyōjimo zen'bu zen'bu paraparato",
                "타이하이모 코오지모 젠부 젠부 파라파라토",
                "揺れる季節と一緒にさあ踊ろう",
                "yureru kisetsuto ishoni sā odorō",
                "유레루 키셋츠토 이쇼니 사아 오도로오",
                "僕らの風向きは変わっちゃったんだな",
                "bokurano kazamukiwa kawachattan'dana",
                "보쿠라노 카자무 키와카 와찻탄다나",
                "形骸／和解 どれだけどれだけ言い換えても",
                "kēgai wakai doredake doredake īkaetemo",
                "케가이 와카이 도레다케 도레다케 이카에테모",
                "落ちて流れる言葉は通り過ぎて",
                "ochite nagareru kotobawa tōrisugite",
                "오치테 나가레루 코토바와 토오리스기테",
                "朦朧／一瞬／芒種／艱難辛苦",
                "mōrō ishun' bōshu kan'nan'shin'ku",
                "모로 이슌 보슈 칸난 신쿠",
                "殻の中に逃げ込んだ雨露の月",
                "kakuno nakani nigekon'da urono tsuki",
                "카쿠노 나카니 니게콘다 우로노츠기",
                "攫われた鍵盤の響きが 構ってって言う様な気がした",
                "sarawareta ken'ban'no hibikiga kamattette iuyōna kiga shita",
                "사라와레타 켄반노 히비키가 카맛텟테 이우요나 키가시타",
                "だから同化した 高架下 歓楽街が溺れる様(さま)に",
                "dakara dōkashita kōkashita kan'rakugaiga oboreru(yō) samani",
                "다카라 도카시타 코카시타 칸라쿠 가이가 오보레루요 사마니",
                "例えたって無駄なほど渺渺な泉の上に立って",
                "tatoetatte mudanahodo byōbyōna izumino ueni tatte",
                "타토에탓 테무다나호도 뵤뵤나 이즈미노 우에니 탓테",
                "ここで歌おう、厄祓い代わりにずぶ濡れになれ！",
                "kokode utaō yakuharaikawarini zubunureni nare",
                "코코데 우타오 야쿠하라 이카와리니 즈부누레니나레",
                "焦燥を噛みちぎる仮想上のケダモノが",
                "shōsōo kamichigiru kasōjōno kedamonoga",
                "쇼소오 카미치기루 카소조노 케다모노가",
                "雑踏とノイズに挟まれて煢煢と",
                "zattōto noizuni hasamarete kēkē to",
                "잣토오토 노이즈니 하라마레테 케이케이토",
                "触れる瘴気の昏い中 100%濡れた屋根登った",
                "fureru shōkino kurai naka hyakupāsen'to nureta yane nobotta",
                "후레루 쇼오키노 쿠라이 나카 햐쿠파센토 누레타 야네 노봇타",
                "煌めく仮想敵をぶっ放して",
                "kirameku kasōtekio buppanashite",
                "키라메쿠 카소테키오붓 파나시테",
                "\"Paraphrase!\"",
                "\"Paraphrase!\"",
                "파라프레이즈",
                "篠突く音の粒で塗りつぶす様に",
                "shino tsuku otono tsubude nuritsubusuyōni",
                "시노츠쿠 오토노 츠부데누리 츠부스요오니",
                "退廃も矜持も全部全部ぱらぱらと",
                "taihaimo kyōjimo zen'bu zen'bu paraparato",
                "타이하이모 쿄지모 젠부 젠부 파라파라토",
                "揺れる季節と一緒にさあ踊ろう",
                "yureru kisetsuto ishoni sā odorō",
                "유레루 키셋츠모 이쇼니 사아 오도로오",
                "僕らの風向きは変わっちゃったんだな",
                "bokurano kazamukiwa kawachattan'dana",
                "보쿠라노 카자무 키와카 왓찻탄다나",
                "遍在／中和 近道できない現実逃避",
                "hen'zai juwa chikamichidekinai gen'jitsutōhi",
                "헨자이 즈와 치카미치 데키나이 겐지츠토히",
                "軌跡を描く終止符のリリースをカットした",
                "kisekio egaku shūshifuno rirīsuo kattoshita",
                "키세키오 에가쿠 슈시후노 리리스오 캇토시타",
                "蒼穹／懐柔 いっそ色彩ごと忘れて終え",
                "sōkyū kaijū isso shikisaigoto wasureteoe",
                "소큐 카이쥬 잇소시키 사이고토 와스레테오에",
                "そうして季節は廻るのさ！",
                "sōshite kisetsuwa mawarunosa",
                "소싯테 키셋츠와 마와루노사",
            ],
            "날지 못하는 심해어": [
                "がらんどうな渾天に",
                "가란도우나 콘텐니",
                "ga/ran/dou/ na/ kon/ten/ ni//",
                "生まれ落ちていました",
                "우마레 오치테 이마시타",
                "u/mare/ ochi/te i/ma/.shi/ta",
                "あからさまな青空が",
                "아마가 사마나 아오조라가",
                "a/kara/sama/na/ ao/zora/ ga",
                "エラに詰まりました",
                "에라니 츠마리 마시타",
                "era/ ni/ tsuma/ri/mashi/ta",
                "翼があるならば飛べるさと",
                "츠바사 가아루나라바 토베루사토",
                "tsuba/sa/ ga a/ru na/raba/ tobe/ru sa/ to",
                "期待した瞳が笑う",
                "키타이 시타 히토미가 와라우",
                "kita/i/ shita/ hito/mi ga/ wa/.ra/u/",
                "ガラクタの羽は羽ばたけずに",
                "가라쿠타노 하네와 하바타케즈니",
                "(pre)ga/raku/ta no/ hane/ wa ha/bata/kezu/ ni",
                "にじむ海原へと溶けてゆく",
                "니지무 우나바라에토 토케테유쿠",
                "niji/mu/ una/bara/ e to/ toke/te yu/ku",
                "ほら 冷たい青空が",
                "호라 츠메타이 아오조라 가 스산다",
                "(pre)hora/ tsume/tai/ ao/zora/ ga/ su/san/da",
                "すさんだ視線にからまりおぼれてく",
                "시센 니카라마리 오보레테쿠",
                "(pre)shi/sen/ ni ka/ra/mari/ obo/rete/ku",
                "まだ だれにも見つからぬ",
                "마다 다레니모 미츠카라누",
                "mada/ dare/ ni mo/ mitsu/kara/nu",
                "あたたかい海の底",
                "아타타카이 우미노 소코",
                "a/tata/kai/ u/mi/ no/. so/ko",
                "また 息苦しい あの正しい",
                "마타 이키구루시이 아노 타다시이",
                "mata/ iki/guru/shii/ ano/ ta/da/shii",
                "部屋の夢をみて 目が回る",
                "헤야노 유메오 미테메가 마와루",
                "heya/ no/ yume/ o/ mite/ me ga/ mawa/ru",
                "いま 暗く優しい海の底へ沈んだまま",
                "이마 쿠라쿠 야사시이 우미노소코에 시즌다 마마",
                "ima/ kura/ku ya/sashi/i u/mi/ no/ soko/ e shi/zu/n/da/. ma/ma",
                "ひどく悲しい晴天に",
                "히도쿠 카나시이 세이텐니",
                "hi/doku/ kana/shii/ sei/ten/ ni",
                "連れ去られていました",
                "츠레사 라레테 이마시타",
                "tsu/resa/rare/te i/ma/.shi/ta",
                "寒い空気が内臓を",
                "사무이 쿠우키가 나이조우 오 ",
                "sa/mui/ kuu/ki ga/ nai/zou/ o",
                "引き抜いてきました",
                "히키누이테 키마시타",
                "hiki/nu/ite/ ki/mashi/ta",
                "翼があるけれど飛べないと",
                "츠바사 가 아루케레도 토베나이 토",
                "tsuba/sa/ ga a/ru ke/redo/ tobe/nai/ to",
                "叫ぶ口を青がふさぐ",
                "사케부 쿠치오 아오가 후사구",
                "sake/bu/ kuchi/ o a/o ga/ fu/.sa/gu",
                "聞こえない声と見えぬ視線",
                "키코에나이 코에토 미에누 시센",
                "(pre)ki/koe/nai/ koe/ to mi/enu/ shise/n",
                "怒鳴らないで 嘲笑わないで",
                "도나라 나이데 아자와 라와나이데",
                "dona/ra/nai/de a/zawa/rawa/nai/de",
                "ほら 冷たい青空が",
                "호라 츠메타이 아오조라 가 스산다",
                "(pre)hora/ tsume/tai/ ao/zora/ ga/ su/san/da",
                "すさんだ視線にからまりおぼれてく",
                "시센 니카라마리 오보레테쿠",
                "(pre)shi/sen/ ni ka/ra/mari/ obo/rete/ku",
                "まだ だれにも見つからぬ",
                "마다 다레니모 미츠카라누",
                "mada/ dare/ ni mo/ mitsu/kara/nu",
                "あたたかい海の底",
                "아타타카이 우미노 소코",
                "a/tata/kai/ u/mi/ no/. so/ko",
                "また 息苦しい あの正しい",
                "마타 이키구루시이 아노 타다시이",
                "mata/ iki/guru/shii/ ano/ ta/da/shii",
                "部屋の夢をみて 目が回る",
                "헤야노 유메오 미테메가 마와루",
                "heya/ no/ yume/ o/ mite/ me ga/ mawa/ru",
                "いま 暗く優しい海の底へ沈んだまま",
                "이마 쿠라쿠 야사시이 우미노소코에 시즌다 마마",
                "ima/ kura/ku ya/sashi/i u/mi/ no/ soko/ e shi/zu/n/da/. ma/ma",
                "ほら 冷たい青空が",
                "호라 츠메타이 아오조라 가 스산다",
                "(pre)hora/ tsume/tai/ ao/zora/ ga/ su/san/da",
                "すさんだ視線にからまりおぼれてく",
                "시센 니카라마리 오보레테쿠",
                "(pre)shi/sen/ ni ka/ra/mari/ obo/rete/ku",
                "まだ だれにも見つからぬ",
                "마다 다레니모 미츠카라누",
                "mada/ dare/ ni mo/ mitsu/kara/nu",
                "あたたかい海の底",
                "아타타카이 우미노 소코",
                "a/tata/kai/ u/mi/ no/. so/ko",
                "また 息苦しい あの正しい",
                "마타 이키구루시이 아노 타다시이",
                "mata/ iki/guru/shii/ ano/ ta/da/shii",
                "部屋の夢をみて 目が回る",
                "헤야노 유메오 미테메가 마와루",
                "heya/ no/ yume/ o/ mite/ me ga/ mawa/ru",
                "いま 暗く優しい海の底へ沈んだまま",
                "이마 쿠라쿠 야사시이 우미노소코에 시즌다 마마",
                "ima/ kura/ku ya/sashi/i u/mi/ no/ soko/ e shi/zu/n/da/. ma/ma",
            ],
            "일출도일몰도없음": [
                "あるまちに さまよい",
                "아루 마치 니사마요이",
                "a/ru/ ma/chi/ ni sa/mayo/i",
                "まいごに なった",
                "마이고 니 낫타",
                "ma/i/go/ ni/ nat/ta",
                "ねんじゅう きょくやの このまちに",
                "넨쥬우 쿄쿠야노 코노마치니",
                "nen/juu/ kyo/ku/ya/ no/ kono/ machi/ ni",
                "ひとりで きたんだ",
                "히토리 데키탄다",
                "hi/to/ri/ de ki/ta n/da",
                "すたれた じんじゃの とりい くぐる",
                "스라레타 진자노 토리이 쿠구루",
                "su/ta/reta/ jin/ja/ no/ tori/i ku/gu/ru",
                "ひかりが ないのに めが くらむ",
                "히카리가 나이노니 메가쿠라무",
                "hika/ri ga/ nai/ noni/ me ga/ kura/mu",
                "ふゆのうみへ おぼれそうで",
                "후유노 우미에 오보레소우데",
                "fuyu/ no u/mi/ e/ obo/reso/u/ de",
                "それが ここちよくて",
                "소레가 코코치요쿠테",
                "sore/ ga ko/kochi/yoku/te",
                "さむいよる ながく つづく まちの",
                "사무이 요루 나가쿠 츠즈쿠마치노",
                "samu/i/ yo/ru/ naga/ku/ tsu/zuku/ machi/ (POST)no",
                "びょうまに おそわれている",
                "-뵤우마 니 오소와레테 이루",
                "byo/uma/ ni/ oso/ware/te i/ru",
                "あさやけも ゆうやけも ないんだ",
                "아사야케 모 유우야케 모 나인 다",
                "asa/ya/ke/ mo/ yuu/ya/ke/ mo na/i n/(POST)da",
                "あおが つづくだけ",
                "-아오가 츠즈쿠 다케",
                "a/o ga/ tsuzu/ku da/ke",
                "くらがりの みじかい ゆめを みる",
                "쿠라가리 모 미지카이 유메오 미루",
                "kura/ga/ri/ no/ miji/ka/i/ yume/ o mi/(POST)ru",
                "なまあたたかい かぜが ふく",
                "-나마아 타타카이 카게가후쿠",
                "na/ma'a/tata/kai/ kaze/ ga fu/ku",
                "たいようも まひるも きえるんだ",
                "타이요우모 마히루 모 키에룬다",
                "tai/yo/u/ mo/ mahi/ru/ mo/ kie/ru n/(POST)da",
                "しかいが ぼやけた",
                "-시카이가 보야케타",
                "shi/kai/ ga bo/yake/ta",
                "あぶない このまちは",
                "아부나이 코노마치와",
                "a/bu/na/i/ kono/ machi/ wa",
                "うっそうと しています",
                "우소우토 시테(이)마스",
                "u/ssou/ to/ shi/te ima/su",
                "こきょうは ひさしく なりますが",
                "코쿄우와 히사시쿠 나리마스가",
                "kokyo/u wa/ hi/sa/shi/ku/ nari/masu/ ga",
                "もう もどれないのです",
                "모우 모도 레나이노데스",
                "mou/ mo/do/rena/i no/ desu",
                "きずあとが うずく こごえてくる",
                "키즈아토가 우즈쿠 코고에테쿠루",
                "ki/zu/ato/ ga u/zu/ku/ kogo/ete/ ku/ru",
                "ひかりが ないのに めが くらむ",
                "히카리가 나이노니 메가쿠라무",
                "hika/ri ga/ nai/ noni/ me ga/ kura/mu",
                "しものうみへ おぼれそうで",
                "시모노 우미에 오보레 소우데",
                "shimo/no u/mi/ e/ obo/reso/u/ de",
                "それが ここちよくて",
                "소레가 코코치요쿠테",
                "sore/ ga ko/kochi/yoku/te",
                "さむいよる ながく つづく まちの",
                "사무이 요루 나가쿠 츠즈쿠마치노",
                "samu/i/ yo/ru/ naga/ku/ tsu/zuku/ machi/ (POST)no",
                "びょうまに おそわれている",
                "-뵤우마 니 오소와레테 이루",
                "byo/uma/ ni/ oso/ware/te i/ru",
                "あさやけも ゆうやけも ないんだ",
                "아사야케 모 유우야케 모 나인 다",
                "asa/ya/ke/ mo/ yuu/ya/ke/ mo na/i n/(POST)da",
                "あおが つづくだけ",
                "-아오가 츠즈쿠 다케",
                "a/o ga/ tsuzu/ku da/ke",
                "くらがりの みじかい ゆめを みる",
                "쿠라가리 모 미지카이 유메오 미루",
                "kura/ga/ri/ no/ miji/ka/i/ yume/ o mi/(POST)ru",
                "なまあたたかい かぜが ふく",
                "-나마아 타타카이 카게가후쿠",
                "na/ma'a/tata/kai/ kaze/ ga fu/ku",
                "たいようも まひるも きえるんだ",
                "타이요우모 마히루 모 키에룬다",
                "tai/yo/u/ mo/ mahi/ru/ mo/ kie/ru n/(POST)da",
                "しかいが ぼやけた",
                "-시카이가 보야케타",
                "さむいよる ながく つづく まちの",
                "사무이 요루 나가쿠 츠즈쿠마치노",
                "samu/i/ yo/ru/ naga/ku/ tsu/zuku/ machi/ (POST)no",
                "びょうまに おそわれている",
                "-뵤우마 니 오소와레테 이루",
                "byo/uma/ ni/ oso/ware/te i/ru",
                "あさやけも ゆうやけも ないんだ",
                "아사야케 모 유우야케 모 나인 다",
                "asa/ya/ke/ mo/ yuu/ya/ke/ mo na/i n/(POST)da",
                "あおが つづくだけ",
                "-아오가 츠즈쿠 다케",
                "a/o ga/ tsuzu/ku da/ke",
                "くらがりの みじかい ゆめを みる",
                "쿠라가리 모 미지카이 유메오 미루",
                "kura/ga/ri/ no/ miji/ka/i/ yume/ o mi/(POST)ru",
                "なまあたたかい かぜが ふく",
                "-나마아 타타카이 카게가후쿠",
                "na/ma'a/tata/kai/ kaze/ ga fu/ku",
                "たいようも まひるも きえるんだ",
                "타이요우모 마히루 모 키에룬다",
                "tai/yo/u/ mo/ mahi/ru/ mo/ kie/ru n/(POST)da",
                "しかいが ぼやけた",
                "-시카이가 보야케타",
                "(さびしくて かなしく すすりなく",
                "(사비시쿠테 카나시쿠 스스리나쿠",
                "(sabi/shi/ku/te/ kana/shi/ku/ susu/rina/(POST)ku",
                "きく あたたかく でも さむく",
                "-키쿠 아타타쿠데모 사무쿠",
                "ki//ku/ ata/taku/ demo/ samu/ku",
                "あさやけも ゆうやけも わすれた",
                "아사야케 모 유우야케 모 와스레타",
                "asa/ya/ke/ mo/ yuu/ya/ke/ mo wa/sure/(POST)ta",
                "もろく きえたんだ)",
                "-모로쿠 키에탄다)",
                "mo/roku/ kie/ta n/da)",
            ],
            "운송업자": [
                "一昨日 出した 手紙たちは",
                "오토토이 다시타 테가미타치와",
                "o/to/to/i/ dashi/ta/. te/gami/tachi/wa",
                "あの世への 贈り物で",
                "아노요에노 오쿠리모노데",
                "ano/yoe/no o/kuri/mono/de",
                "宛先も 住所も 数字も",
                "아테사키모 쥬우 쇼모 스우지모",
                "a/te/sa/ki/mo jū/.sho/mo sū/uji/mo",
                "何も 書かずに いました",
                "나니모 카카즈니 이마시타",
                "nani/mo ka/kazu/ni i/mashi/ta",
                "運び屋さんは それが 分かった",
                "하코비야산와 소레가 와캇타",
                "ha/ko/bi/ya/.sa/n'wa/ sore/ga wa/kat/ta",
                "教えていないはず なのに",
                "오시에테 이나이 하즈 나노니",
                "(pre)o/shie/te/.i/nai/ hazu/ na/no/ni",
                "運び屋さん 黒い 鳥に なりました",
                "하코비야산 쿠로이 토리니 나리마시타",
                "(pre)ha/kobi/ya/.sa/n (o)/ kuro/i to/rini/ nari/mashi/ta",
                "遠く いった",
                "토오쿠 잇타",
                "tō/oku/ it/ta",
                "この世界には もういないけど",
                "코노 세카이니와 모오이나이케도",
                "ko/no/ se/ka/.i/niwa/ mō/ina/ike/do",
                "いる気が していて ならないんだ",
                "이루 키가 시테이테 나라나인다",
                "(pre)i/ru ki/ga/. shi/tei/te na/rana/in'/da",
                "電車から 見える 虹の 下の",
                "덴샤카 미에루 니지노 시타노",
                "(pre)de/n'sha/ka/.ra/ mie/ru ni/jino/ shita/no",
                "水面の 下に います",
                "미나모노 시타니이마스",
                "(pre)mi/namo/no /.shi/tani/ ima/su",
                "目の前 には 雪も 降らず",
                "메노 마에 니와 유키모 후라즈",
                "meno/ mae///// ni/wa/ yu/ki/mo/ fu/ra/zu",
                "月も 見えず 何もなく",
                "츠키모 미에즈 나니모 나쿠",
                "tsu/ki//mo// mi//e/zu/ na/ni/mo/ na/ku",
                "風も 吹かず 花は 散る",
                "카제모 후카즈 하나와 치루",
                "ka/ze/mo///// fu/ka/zu/ ha/na/wa/ chi/ru",
                "もう 何も 見えない 世界 です",
                "모오 나니모 미에나이 세카이데스",
                "mō/o// na//ni//mo/ mi/e/na/i/ se/ka/i/ de/su",
                "一昨日 出した 手紙たちは",
                "오토토이 다시타 테가미타치와",
                "o/to/to/i/ dashi/ta/. te/gami/tachi/wa",
                "届いたら ありえないの",
                "토도이타라 아리에나이노",
                "todo/ita/ra a/rie/nai/no",
                "他の人には 分からない",
                "호카노 히토니와 와카라나이",
                "ho/ka/no/ hi/toni/wa/. wa/ka/rana/i",
                "文章に なっているの",
                "분쇼오니 낫테이루노",
                "bun'/shō/ni na/atte/iru/no",
                "運び屋さんは それが 分かった",
                "하코비야산와 소레가 와캇타",
                "ha/ko/bi/ya/.sa/n'wa/ sore/ga wa/kat/ta",
                "教えていないはず なのに",
                "오시에테 이나이 하즈 나노니",
                "(pre)o/shie/te/.i/nai/ hazu/ na/no/ni",
                "運び屋さん 黒い 鳥に なっている",
                "하코비야산 쿠로이 토리니 낫테이루",
                "hako/biya/.sa/n' (o)/ kuro/i to/rini/ nat/te/iru/.",
                "戻りは せず",
                "모도리와 세즈",
                "(pre)mo/dori/wa se/zu",
                "この世界には もういないけど",
                "코노 세카이니와 모오이나이케도",
                "ko/no/ se/ka/.i/niwa/ mō/ina/ike/do",
                "いる気が していて ならないんだ",
                "이루 키가 시테이테 나라나인다",
                "(pre)i/ru ki/ga/. shi/tei/te na/rana/in'/da",
                "電車から 見える 虹の 下の",
                "덴샤카라 미에루 니지노 시타노",
                "(pre)de/n'sha/ka/.ra/ mie/ru ni/jino/ shita/no",
                "水面の 下に います",
                "미나모노 시타니이마스",
                "(pre)mi/namo/no/. shi/tani/ ima/su",
                "この世界には もういないけど",
                "코노 세카이니와 모오이나이케도",
                "ko/no/ se/ka/.i/niwa/ mō/ina/ike/do",
                "いる気が していて ならないんだ",
                "이루 키가 시테이테 나라나인다",
                "(pre)i/ru ki/ga/. shi/tei/te na/rana/in'/da",
                "電車から 見える 虹の 下の",
                "덴샤카라 미에루 니지노 시타노",
                "(pre)de/n'sha/ka/.ra/ mie/ru ni/jino/ shita/no",
                "水面の 下に います",
                "미나모노 시타니이마스",
                "(pre)mi/namo/no/. shi/tani/ ima/su",
                "この世界には もういないけど",
                "코노 세카이니와 모오이나이케도",
                "ko/no/ se/ka/.i/niwa/ mō/ina/ike/do",
                "いる気が していて ならないんだ",
                "이루 키가 시테이테 나라나인다",
                "(pre)i/ru ki/ga/. shi/tei/te na/rana/in'/da",
                "電車から 見える 虹の 下の",
                "덴샤카라 미에루 니지노 시타노",
                "(pre)de/n'sha/ka/.ra/ mie/ru ni/jino/ shita/no",
                "水面の 下に います",
                "미나모노 시타니이마스",
                "(pre)mi/namo/no/. shi/tani/ ima/su",
            ],
            "동화의 별": [
                "忘れられずいた、身を包んでいた、",
                "와스레라테즈 이타 미오 츠츤데이타",
                "wasu/re/rare/zu/. i/ta/// mio/ tsu/.tsu/n'/.dei/ta",
                "温度を持った大きな黒い影。",
                "on'/do/.o/ mot/.ta/ ō/.ki/na/ kuro/i ka/ge",
                "온도오 못타 오오키나 쿠로이카게",
                "ありふれていた純粋な善意が、",
                "아리후레테이타 쥰스이나 젠이가",
                "ari/fu/.re/te/.i/ta/// jun/'sui/.na/ zen'/.i/ga",
                "意識を失って、逝去した。",
                "이시키오 우시낫테 세이쿄오싯타",
                "ishi/ki/.o/ ushi/nat/te/. se/ikyo/oshi/ta",
                "記憶を刻む価値とは？",
                "키오쿠오 키자무 카치토와",
                "(pre)kio/ku/.o/ ki/.za/mu/. ka/chi/.to/wa",
                "未知を望む意味とは？",
                "미치오 노조무 이미토와",
                ".mi/chi/.o/ no/.zo/mu/. i/mi/.to/wa",
                "無我の夢物語の外で",
                "무가노 유메모노가타리노 소토데",
                "mu/ga/no/. yu/me/.mo/no/.ga/ta/.ri/no// so/to/de",
                "未だ、否、未だ々々、眠れずにいます。",
                "마다 이마 마다 마다 네무레즈니 이마스",
                ".ma/da/. i/na/. ma/da/. ma/da/ nemu/re/zuni/ i/.ma/su",
                "瑕疵の端の子供心を、",
                "카시노 하노 코도모고코코로",
                "ka/shi/no/ ha/no// ko/do/mo/go/ko/ko/ro",
                "部屋のどこかに隠して居たの？",
                "헤야노 도코카니 카쿠시테이타노",
                "he/ya/no/ do/ko/ka/ni/ ka/ku/shi/te/i/ta/no",
                "声は届くか、御伽の星よ、",
                "코에와 토도쿠카 오토기노 호시요",
                "ko/e/wa/ to/do/ku/ka/ o/to/gi/no/ ho/shi/yo",
                "僕を引き止めてやくれないか。",
                "보쿠오 히키토메테야 쿠레나이카",
                "bo/ku/o/ hi/ki/to/me/te/ya/ ku/re/na/i/ka",
                "■■■■■■の寵愛を受けて、",
                "■■■■■■노 쵸오아이오 우케테",
                "■■/■/■/■/■/no// chō/ai/.o/ u/.ke/te",
                "思い込みの中の城を築いていた。",
                "오모이코미노 나카노시로오 키즈이테이타",
                "omo/i/komi/no// na/kano/ shiro/o/ kizu/ite/ita",
                "このまま時が止まって仕舞えばと、",
                "코노 마마 토키가 토맛테시마에바토",
                "kono/ ma/.ma/ to/.ki/ga/// toma/a/tteshi/mae/.ba/ to",
                "意識を奪われて、忘却した。",
                "이시키오 우바와레테 보오캬쿠시타",
                "ishi/ki/.o/ uba/ware/te/ bō/kya/ku shi/ta",
                "愛憎の奥の理性、",
                "아이조오노 오쿠노리세이",
                "ai/zō/ono/. o/ku/.no ri/.sē/i",
                "道連れとなりし過去。",
                "미치즈레토 나리시카코",
                ".mi/chi/.zu/re/.to/ na/.ri/shi/. ka/ko",
                "兄弟は両の手遅れで、",
                "쿄오다이와 료오노테 오쿠레데",
                "kyō/o/da/.i/wa// ryō/.o/no/. te/o//ku/re/de",
                "未だ、否、唯、目を覚ませずにいます。",
                "마다 이나 마다 메오 사마세즈니 이마스",
                ".ma/da/. i/na/. ta/da/. me/o/ sama/se/zuni/ i/.ma/su",
                "現世は子供騙しで、",
                "우츠시요와 코도모다마시테",
                "u/tsu/shi/yo/wa// ko/do/mo/da/ma/shi/de",
                "憧れ共に引き裂かれたの？",
                "아코가레토모니 히키사카레타노",
                "a/ko/ga/re/to/mo/ni/ hi/ki/sa/ka/re/ta/no",
                "声は届かず、御伽の星よ、",
                "코에와 토도카즈 오토기노 호시요",
                "ko/e/wa/ to/do/ka/zu/ o/to/gi/no/ ho/shi/yo",
                "せめてもの願いを捧ぐ侭。",
                "세메테 모노네가이오 사사구마마",
                "se/me/te/ mo/no/ne/ga/i/o/ sa/sa/gu/ ma/ma",
                "声は届くか、御伽の星よ、",
                "코에와 토도쿠카 오토기노 호시요",
                "koe/wa to/doku/ka/ oto/gino/ hoshi/yo",
                "どうか嘗ての侭で。",
                "도오카 카츠테노마마데",
                "dō/ka/ katsu/teno/ mama/de",
            ]
        };
        addEvent("onload", () => {
            for (let k in main) insertElement("button", "buttons", null, k).with("style", "margin-right: 4px;").with("onclick", `init("${k}");`);
        });
        function init(k) {
            let data = main[k] ?? [];
            removeAllChildren("result");
            insertElement("div", "result", "lines").with("style", "min-height: 8px");
            let buttons = insertElement("div", "result");
            insertElement("div", "result", "lines").with("style", "min-height: 8px");
            for (let k of keys) insertElement("button", buttons, null, `${k[0]} 숨기기`).with("onclick", `toggle("${k[0]}", this)`);
            for (let i = 0; i < data.length; i += keys.length) {
                for (let j = 0; j < keys.length; j++) {
                    insertElement("p", "result", `song ${keys[j][0]}`).with("style", `background-color: ${keys[j][1]}`).innerText = data[i+j];
                }
                insertElement("div", "result", "lines").with("style", "min-height: 8px");
            }
        }
        function toggle(k, self) {
            for (let el of q("." + k)) el.classList.toggle("hidden");
            if (self.innerText.endsWith("숨기기")) self.innerText = self.innerText.replace("숨기기", "펼치기");
            else self.innerText = self.innerText.replace("펼치기", "숨기기");
        }