extends ./template/base.pugtemplate
block meta
    - title = 'not soundcloud'
    - description = 'my music repository (no ai)'
block body 
    h1 discography
    p also see <a href="//prod.kr/folio">portfolio</a>
    .vlist.hard.yeargroup
        .hlist
            h2 2025
            .spacer
            button.collapse(onclick="toggleCollapse(this)") Collapse
        .vlist
            .song
                h4#20250102-mickynooncomm previously on mickynoon (2025/01/02)
                yt bBAhT_hersA
                p Commissioned for twitch.tv/mickynoon for the new promo video
                .audio(tags="Featured - Cyan, Music - Full, Music - Variety, Collaboration - Commission") 20250102-mickynooncomm
        .spacer
    .vlist.hard.yeargroup
        .hlist
            h2 2024
            .spacer
            button.collapse(onclick="toggleCollapse(this)") Collapse
        .vlist
            .song
                h4#20241219-mickynooncomm Mickynoon Ambience (2024/12/19)
                yt -QWLY4yim8k
                p Commissioned for twitch.tv/mickynoon, they wanted "brian eno airport style for 30 minutes+". also designed the various sound effects for the stream to match with the ambience theme "rez style".
                .audio(tags="Featured - Gold, Music - Full, Music - Variety, Collaboration - Commission") 20241219-mickynooncomm
            .song
                h4#20241213-s1ending Season 1 Ending (2024/12/13)
                yt DMyBksPMbps
                .audio(tags="Featured - Gold, Music - Full, Music - Usual") 20241213-s1ending
            .song
                h4#20240731 2024/07/31
                p VIP of Season 1 Opening
                .audio(tags="Featured - Cyan, Music - Usual") 20240731
            .song
                h4#20240731-s1opening Season 1 Opening (2024/07/31)
                yt 4ZUqRyJNn2s
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual") 20240731-s1opening
            .song
                h4#20240504 Unnamed BGM (2024/05/04)
                p For a visual novel project I was a collaborator of. Main BGM and "Post-apocalypse noir cafe feel".
                .audio(tags="Featured - Cyan, Music - Variety, Music - OST, Music - Full, Collaboration - Commission") 20240504
            h3 Chambers of L OST (2024/01/28)
            yt zN2_Gd5ifxQ
            p <a href="http://github.com/prodzpod/chambers">Chambers of L</a> is a game submitted for LCOLONQ Game Jam 2024. The game including the entire soundtrack is made in 48 hours.
            .song
                h4#20240128-main Main theme
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST, Music - Full, Game - Jam") 20240128-main
            .song
                h4#20240128-w1 World 1
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST, Music - Full, Game - Jam") 20240128-w1
            .song
                h4#20240128-boss1 Boss 1
                .audio(tags="Featured - OK, Music - Usual, Music - OST, Music - Full, Game - Jam") 20240128-boss1
            .song
                h4#20240128-w1 World 2
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST, Music - Full, Game - Jam") 20240128-w2
            .song
                h4#20240128-boss1 Boss 2
                .audio(tags="Featured - OK, Music - Usual, Music - OST, Music - Full, Game - Jam") 20240128-boss2
            .song
                h4#20240128-w1 World 3
                .audio(tags="Featured - OK, Music - Usual, Music - OST, Music - Full, Game - Jam") 20240128-w3
            .song
                h4#20240128-boss1 Boss 3
                .audio(tags="Featured - OK, Music - Usual, Music - OST, Music - Full, Game - Jam") 20240128-boss3
        .spacer
    .vlist.hard.yeargroup
        .hlist
            h2 2023
            .spacer
            button.collapse(onclick="toggleCollapse(this)") Collapse
        .vlist
            .song
                h4#20230821 2023/08/21
                p piano session 4
                .audio(tags="Music - Variety") 20230821
            .song
                h4#20230713 2023/07/13
                p piano session 3
                .audio(tags="Music - Variety") 20230713
            .song
                h4#20230604 2023/06/04
                p Commissioned a short for "Music with over 200 BPM"
                .audio(tags="Featured - Cyan, Music - Usual, Collaboration - Commission") 20230604
            .song
                h4#20230531 2023/05/31
                .audio(tags="Featured - Gold, Music - Usual") 20230531
            .song
                h4#20230516-Unakite Unakite (2023/05/16)
                yt J9o64Bjtsgs
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual") 20230516-Unakite
            .song
                h4#20230515 2023/05/15
                p Listening to this makes me feel Very Strange
                .audio(tags="Music - Full, Music - Variety") 20230515
            .song
                h4#20230508-stelldemo Startellers OST: Demo World (2023/05/08)
                yt hpZ6dGeR6jA
                .audio(tags="Featured - Gold, Music - Full, Music - Usual, Music - OST") 20230508-stelldemo
            .song
                h4#20230429 2023/04/29
                .audio(tags="Featured - OK, Music - Usual") 20230429
            .song
                h4#20230317 2023/03/17
                p 36EDO practice
                .audio(tags="Featured - OK, Music - Usual, Music - OST") 20230317
            .song
                p 24EDO practice
                .audio(tags="Music - Usual, Music - OST") 20230317-2
            .song
                h4#20230303 2023/03/03
                .audio(tags="Featured - Cyan, Music - Variety") 20230303
            .song
                h4#20230302 2023/03/02
                .audio(tags="Music - Variety") 20230302
            .song
                h4#20230223 2023/02/23
                .audio(tags="Featured - Gold, Music - Usual") 20230223
            .song
                h4#20230103 2023/01/03
                p Original Inspiration for Blackscore's Dark Slate Gray
                .audio(tags="Featured - Gold, Music - Usual") 20230103
        .spacer
    .vlist.hard.yeargroup
        .hlist
            h2 2022
            .spacer
            button.collapse(onclick="toggleCollapse(this)") Collapse
        .vlist
            .song
                h4#20221204 2022/12/04
                p Remix of 2020/05/03.
                .audio(tags="Featured - OK, Music - Usual") 20221204
            .song
                h4#20221107 2022/11/07
                .audio(tags="Featured - Cyan, Music - Full, Music - Variety") 20221107
            .song
                h4#20221103 2022/11/03
                .audio(tags="Featured - OK, Music - Usual") 20221103
            .song
                h4#20221022 2022/10/22
                p piano session 2
                .audio(tags="Music - Usual") 20221022
            .song
                h4#20221021 2022/10/21
                p piano session
                .audio(tags="Featured - OK, Music - Usual") 20221021
            .song
                h4#20221017-grifa1 Grifa OST 1 (2022/10/17)
                p another attempt at mushu collab, also on hold indefinitely
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - OST") 20221017-grifa1
            .song
                h4#20221005-phonkcomm 2022/10/05
                p Commissioned for mushu personally
                .audio(tags="Featured - OK, Music - Full, Music - Variety, Collaboration - Commission") 20221005-phonkcomm
            h3 Playing by Ear
            img(src="//prod.kr/images/folio/playingbyear.png")
            p <a href="https://onedayonepuzl.web.app/puzzle?week=40&id=LavenderxProd">Playing by Ear</a> is a lateral puzzle designed with Lavender where songs encode a certain information.
            p the message of the first song is given, and the goal is to figure out the rules based on it.
            .song
                h4#20220927-hand
                p: code HAND
                .audio(tags="Music - OST, Music - Variety, Collaboration") 20220927-hand
            .song
                h4#20220927-active
                p: code "Active"
                .audio(tags="Featured - OK, Music - OST, Music - Usual, Collaboration") 20220927-active
            .song
                h4#20220927-chip
                p: code "Chip"
                .audio(tags="Featured - OK, Music - OST, Music - Usual, Collaboration") 20220927-chip
            .song
                h4#20220927-fall
                p: code "Fall"
                .audio(tags="Featured - OK, Music - OST, Music - Usual, Collaboration") 20220927-fall
            .song
                h4#20220927-ized
                p: code "Ized"
                .audio(tags="Music - OST, Music - Variety, Collaboration") 20220927-ized
            .song
                h4#20220927-root
                p: code "Root"
                .audio(tags="Music - OST, Music - Usual, Collaboration") 20220927-root
            .song
                h4#20220927-weight
                p: code "Weight"
                .audio(tags="Music - OST, Music - Variety, Collaboration") 20220927-weight
            h3 Black Street OST
            yt iiie5RTmAyY
            p Black street is an animation collaboration project between me and <a href="https://mushubbokbab.carrd.co/">mushu</a> where I make the music and they makes the animation, and we write the underlying story together. The story is under an indefinite hold.
            .song
                h4#20220913-blackstreet1 Monday (2022/09/13)
                yt sH6WsdMyY_U
                p also the BGM for the only complete animation.
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - OST") 20220913-blackstreet1
            .song
                h4#20220919-blackstreet0 2022/09/19
                p some kind of loop with the black street motif. unused.
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST") 20220919-blackstreet0
            .song
                h4#20220920-blackstreet2 2022/09/20
                yt 0ZxlYLiHIjY
                .audio(tags="Featured - Gold, Music - Full, Music - Usual, Music - OST") 20220920-blackstreet2
            .song
                h4#20230407-blackstreet3 2023/04/07
                p sketch for the third entry in the album, unused.
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST") 20230407-blackstreet3
            .song
                h4#20230604-blackstreet4 2023/06/04
                p sketch for the fourth entry in the album, unused.
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST") 20230604-blackstreet4
            .song
                h4#20220817 2022/08/17
                .audio(tags="Featured - Cyan, Music - Variety") 20220817
            .song
                h4#20220502-hnbr1 Body Rinse OST: 1 (2022/05/02)
                p background music for the Fanmade Hacknet Extension "Body Rinse", the extension is on hold indefinitely
                .audio(tags="Featured - Gold, Music - Variety, Music - OST") 20220502-hnbr1
            .song
                h4#20220407 2022/04/07
                .audio(tags="Music - Usual") 20220407
            .song
                h4#20220127 2022/01/27
                .audio(tags="Featured - Cyan, Music - Usual") 20220127
            .song
                h4#20220126-smiley :) (2022/01/26)
                yt qDw_DETNgVE
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20220126-smiley
        .spacer
    .vlist.hard.yeargroup
        .hlist
            h2 2021
            .spacer
            button.collapse(onclick="toggleCollapse(this)") Collapse
        .vlist
            .song
                h4#20211214 2021/12/14
                .audio(tags="Music - Usual") 20211214
            .song
                .audio(tags="Featured - OK, Music - Usual") 20211214-2
            .song
                h4#20211002-3ex 3-EX THE WIND-UP (prod remix) (2021/10/02)
                yt Kh7RUSyJdCc
                p Arrangement of "<a href="https://www.youtube.com/watch?v=aVLrALO2bmY">Hafiz Azman - THE WIND-UP</a>" commissioned for Team Vega's EX Series.
                .audio(tags="Featured - Gold, Music - Full, Music - Variety, Music - Remix, Music - OST, Collaboration - Commission") 20211002-3ex
            .song
                h4#20210430 2021/04/30
                .audio(tags="Featured - Cyan, Music - Usual") 20210430
            .song
                h4#20210321 2021/03/21
                .audio(tags="Featured - OK, Music - Variety") 20210321
            .song
                h4#20210320 KRDRPG OST: Session 0 (2021/03/20)
                yt LU0pt6lHnZY
                p Part of the KRDRPG event for Rhythm Doctor community.
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST") 20210320
            .song
                h4#20210320-2 2021/03/20
                .audio(tags="Music - Usual") 20210320-2
            .song
                h4#20210211 2021/02/11
                .audio(tags="Featured - Cyan, Music - Full, Music - Variety") 20210211
            h3 Creepy Castle: Ribbon of the Strategist OST
            yt LeW8HZaZFN4
            p CC:RotS is a community expansion to <a href="https://store.steampowered.com/app/450440/Creepy_Castle/">Creepy Castle</a> that adds a "hard mode" to all bosses in the story as well as other QOL/extra features lacking from the base game.
            .song
                h4#20201122-CCROTSslugger Postmortem (2020/11/22)
                yt K48gDh5lW_c
                p Hard mode OST for Slugger bossfight.
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - Remix, Music - OST") 20201122-CCROTSslugger
            .song
                h4#20201209-CCROTSlock Unwilling Master (2020/12/09)
                yt MRcK34-HwS0
                p OST for extra Lock bossfight.
                .audio(tags="Featured - Gold, Music - Full, Music - Usual, Music - Remix, Music - OST") 20201209-CCROTSlock
            .song
                h4#20201230-CCROTSant 2020/12/30
                p a take on the Hard mode OST for Ant Queen bossfight. unused.
                .audio(tags="Featured - OK, Music - Full, Music - Usual, Music - Remix, Music - OST") 20201230-CCROTSant
            .song
                h4#20210101-CCROTSapollyon Finality (2021/01/01)
                yt qrE_jNurSwE
                p Hard mode OST for Apollyon bossfight.
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - Remix, Music - OST") 20210101-CCROTSapollyon
            .song
                h4#20210120-CCROTSant2 2021/01/20
                p another take on the Hard mode OST for Ant Queen bossfight. unused.
                .audio(tags="Music - Full, Music - Usual, Music - Remix, Music - OST") 20210120-CCROTSant2
            .song
                h4#20210120-CCROTSant3 2021/01/20
                p another take on the Hard mode OST for Ant Queen bossfight. unused.
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - Remix, Music - OST") 20210120-CCROTSant3
            .song
                h4#20210120-CCROTSluvaci 2021/01/20
                p Hard mode OST for Luvaci bossfight. unused.
                .audio(tags="Music - Full, Music - Usual, Music - Remix, Music - OST") 20210120-CCROTSluvaci
            .song
                h4#20210120-CCROTSmoth Coda for the Lost (2021/01/20)
                yt Prna1IdgYmo
                p Hard mode OST for Moth bossfight.
                .audio(tags="Featured - Gold, Music - Full, Music - Usual, Music - Remix, Music - OST") 20210120-CCROTSmoth
            .song
                h4#20210121-CCROTSbee Swarm of Strikes (2021/01/21)
                yt MllQQJzs81A
                p Hard mode OST for Bee bossfight.
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - Remix, Music - OST") 20210121-CCROTSbee
        .spacer
    .vlist.hard.yeargroup
        .hlist
            h2 2020
            .spacer
            button.collapse(onclick="toggleCollapse(this)") Collapse
        .vlist
            .song
                h4#20201016-flowerdance 2020/10/16
                yt eUjz0A97Y54
                p Arrangement of "<a href="https://soundcloud.com/cepukka/acid-plant-medicine-c700-original">C700 - Acid Plant Medicine</a>".
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - Remix") 20201016-flowerdance
            .song
                h4#20200912 2020/09/12
                p Arrangement of an unreleased song by qwaintt.
                .audio(tags="Featured - OK, Music - Variety, Music - Remix") 20200912
            .song
                h4#20200809 2020/08/09
                .audio(tags="Featured - Cyan, Music - Variety") 20200809
            .song
                h4#20200706 2020/07/06
                .audio(tags="Music - Variety") 20200706
            .song
                h4#20200505 2020/05/05
                p VIP of 2020/05/03.
                .audio(tags="Featured - OK, Music - Usual") 20200505
            .song
                h4#20200503 2020/05/03
                .audio(tags="Featured - OK, Music - Usual") 20200503
            .song
                h4#20200421 2020/04/21
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20200421
            .song
                h4#20200417 2020/04/17
                .audio(tags="Music - Variety") 20200417
            .song
                h4#20200410 2020/04/10
                .audio(tags="Music - Usual") 20200410
            .song
                h4#20200112 2020/01/12
                .audio(tags="Featured - OK, Music - Usual") 20200112
        .spacer
    .vlist.hard.yeargroup
        .hlist
            h2 2019
            .spacer
            button.collapse(onclick="toggleCollapse(this)") Collapse
        .vlist
            .song
                h4#20191225 2019/12/25
                .audio(tags="Music - Full, Music - Variety") 20191225
            .song
                h4#20191209 2019/12/09
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20191209
            .song
                h4#20191205 2019/12/05
                .audio(tags="Featured - OK, Music - Usual") 20191205
            .song
                h4#20191202 2019/12/02
                p Note: before/after this point the songs taste quite different (major turning point in life)
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20191202
            .song
                h4#20191118 2019/11/18
                .audio(tags="Featured - OK, Music - Usual") 20191118
            .song
                h4#20191110 2019/11/10
                .audio(tags="Featured - Cyan, Music - Full, Music - Variety, Music - OST") 20191110
            .song
                .audio(tags="Featured - OK, Music - Full, Music - Variety, Music - OST") 20191110-2
            .song
                h4#20191003 2019/10/03
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20191003
            .song
                h4#20190829 2019/08/29
                .audio(tags="Music - Usual") 20190829
            .song
                h4#20190825 2019/08/25
                .audio(tags="Featured - Cyan, Music - Variety") 20190825
            .song
                h4#20190629 2019/06/29
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual") 20190629
            .song
                h4#20190627 2019/06/27
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20190627
            .song
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20190627-4
            .song
                .audio(tags="Featured - Cyan, Music - Usual") 20190627-3
            .song
                .audio(tags="Featured - OK, Music - Usual") 20190627-2
            .song
                h4#20190608 2019/06/08
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20190608
            .song
                h4#20190526 2019/05/26
                .audio(tags="Featured - Cyan, Music - Usual") 20190526
            .song
                h4#20190522-21c 2019/05/22
                p Remix of 2018/04/21.
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20190522-21c
            .song
                h4#20190504 2019/05/04
                .audio(tags="Featured - Cyan, Music - Usual") 20190504
            .song
                h4#20190424 2019/04/24
                .audio(tags="Featured - OK, Music - Usual") 20190424
            .song
                h4#20190423 2019/04/23
                .audio(tags="Music - Variety") 20190423
            .song
                h4#20190419 2019/04/19
                .audio(tags="Featured - Cyan, Music - Usual") 20190419
            .song
                h4#20190331 2019/03/31
                p I learn how to mix after this point so songs may be loud!! please adjust your volumes
                .audio(tags="Featured - OK, Music - Usual") 20190331
            .song
                h4#20190217 2019/02/17
                .audio(tags="Featured - Gold, Music - Full, Music - Usual") 20190217
            .song
                h4#20190208 2019/02/08
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20190208
            .song
                h4#20190124 2019/01/24
                .audio(tags="Featured - OK, Music - Usual") 20190124
            .song
                h4#20190119 2019/01/19
                p similar to 2018/12/21, reasons unclear (forgot)
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual") 20190119
            .song
                h4#20190111 2019/01/11
                .audio(tags="Music - Variety") 20190111
        .spacer
    .vlist.hard.yeargroup
        .hlist
            h2 2018
            .spacer
            button.collapse(onclick="toggleCollapse(this)") Collapse
        .vlist
            .song
                h4#20181224-mainmenu2 2018/12/24
                p Settings menu theme for an unreleased game.
                .audio(tags="Featured - OK, Music - Full, Music - Usual, Music - OST") 20181224-mainmenu2
            .song
                h4#20181221-mainmenu 2018/12/21
                p Main menu theme for an unreleased game.
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - OST") 20181221-mainmenu
            .song
                h4#20181216 2018/12/16
                .audio(tags="Music - Variety") 20181216
            .song
                h4#20181210 2018/12/10
                .audio(tags="Featured - OK, Music - Variety") 20181210
            h3 Bit Cat Rangers OST
            p Bit Cat Ranger is an isometric action roguelike made in unity where you control a group of cats to perform moves and traverse through the dungeon. I created all the soundtrack, SFX, level design, and some models for the game.
            .song
                h4#20171125-blockcity "block city" (2017/11/25)
                p One of the first piece I've ever written.
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20171125-blockcity
            .song
                h4#20181016-BCRmain Main Theme (2018/10/16)
                yt BHP8XIwrhYU
                .audio(tags="Featured - Gold, Music - Full, Music - Usual, Music - OST") 20181016-BCRmain
            .song
                h4#20180921-blockcityremix Stage 1 (2018/09/21)
                p Remix of "block city".
                .audio(tags="Music - Variety") 20180921-blockcityremix
            .song
                h4#20181004-BCRstage2 Stage 2 (2018/10/04)
                .audio(tags="Featured - OK, Music - Full, Music - Usual, Music - OST") 20181004-BCRstage2
            .song
                h4#20181210-BCRboss1 Boss 1 (2018/12/10)
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual, Music - OST") 20181210-BCRboss1
            .song
                h4#20181210-BCRboss2 Boss 2 (2018/12/10)
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST") 20181210-BCRboss2
            .song
                h4#20181005-BCRstage3 Stage 3 (2018/10/05)
                .audio(tags="Featured - Gold, Music - Full, Music - Usual, Music - OST") 20181005-BCRstage3
            .song
                h4#20180914-BCRmain0 2018/09/14
                p prototype of BCR Main Theme.
                .audio(tags="Music - Full, Music - Usual, Music - OST") 20180914-BCRmain0
            .song
                h4#20180915-BCRunused 2018/09/15
                p Unused BGM for BCR.
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST") 20180915-BCRunused
            .song
                h4#20181004-BCRunused2 2018/10/04
                p Unused BGM for BCR.
                .audio(tags="Featured - Cyan, Music - Usual, Music - OST") 20181004-BCRunused2
            .song
                h4#20181208 2018/12/08
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20181208
            .song
                h4#20181203 2018/12/03
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20181203
            .song
                h4#20181130 2018/11/30
                .audio(tags="Music - Full, Music - Usual") 20181130
            .song
                h4#20181126 2018/11/26
                .audio(tags="Music - Full, Music - Variety") 20181126
            .song
                .audio(tags="Music - Full, Music - Variety") 20181126-2
            .song
                h4#20181125 2018/11/25
                .audio(tags="Music - Variety") 20181125
            .song
                h4#20181118 2018/11/18
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20181118
            .song
                h4#20181112 2018/11/12
                .audio(tags="Music - Variety") 20181112
            .song
                h4#20181107 2018/11/07
                .audio(tags="Music - Full, Music - Usual") 20181107
            .song
                h4#20181106 2018/11/06
                .audio(tags="Music - Full, Music - Usual") 20181106
            .song
                h4#20181105-302 2018/11/05
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual") 20181105-302
            .song
                h4#20181024 2018/10/24
                .audio(tags="Music - Full, Music - Variety") 20181024
            .song
                h4#20181014 2018/10/14
                .audio(tags="Featured - OK, Music - Variety") 20181014
            .song
                h4#20181013-203 2018/10/13
                .audio(tags="Featured - Cyan, Music - Full, Music - Variety") 20181013-203
            .song
                h4#20181012-201 2018/10/12
                .audio(tags="Featured - OK, Music - Usual") 20181012-201
            .song
                h4#20181011-13b 2018/10/11
                p Remix of 2018/02/26.
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20181011-13b
            .song
                h4#20180926 2018/09/26
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20180926
            .song
                h4#20180923 2018/09/23
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20180923
            .song
                h4#20180922 2018/09/22
                .audio(tags="Music - Variety") 20180922
            .song
                h4#20180921 2018/09/21
                .audio(tags="") 20180921
            .song
                h4#20180829-21b 2018/08/29
                p Remix of 2018/04/29.
                .audio(tags="Music - Full, Music - Usual") 20180829-21b
            .song
                h4#20180822-5b 2018/08/22
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20180822-5b
            .song
                h4#20180818 2018/08/18
                .audio(tags="Music - Variety") 20180818
            .song
                h4#20180813-37c 2018/08/13
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20180813-37c
            .song
                h4#20180812 2018/08/12
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual") 20180812
            .song
                h4#20180803-37b 2018/08/01
                p Two versions of the same song.
                .audio(tags="Music - Full, Music - Variety") 20180803-37b
            .song
                .audio(tags="Music - Full, Music - Variety") 20180801-37
            .song
                h4#20180730-107 2018/07/30
                .audio(tags="Featured - OK, Music - Full, Music - Variety, Music - OST") 20180730-107
            .song
                .audio(tags="Music - Full, Music - Variety, Music - OST") 20180730-106
            .song
                .audio(tags="Featured - OK, Music - Full, Music - Variety, Music - OST") 20180730-105
            .song
                .audio(tags="Music - Full, Music - Variety, Music - OST") 20180730-104
            .song
                .audio(tags="Music - Full, Music - Variety, Music - OST") 20180730-103
            .song
                .audio(tags="Music - Full, Music - Variety, Music - OST") 20180730-102
            .song
                .audio(tags="Music - Full, Music - Variety, Music - OST") 20180730-101
            .song
                h4#20180721-14b 2018/07/21
                p Remix of 2018/03/24.
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20180721-14b
            .song
                h4#20180702-32 2018/07/02
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20180702-32
            .song
                h4#20180520-28 2018/05/20
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual") 20180520-28
            .song
                h4#20180512-27 2018/05/12
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20180512-27
            .song
                h4#20180506-26 2018/05/06
                .audio(tags="Music - Full, Music - Variety") 20180506-26
            .song
                h4#20180429-182021 2018/04/29
                p Remix of 2018/04/19, 2018/04/20 and 2018/04/21.
                .audio(tags="Featured - Cyan, Music - Full, Music - Usual") 20180429-182021
            .song
                h4#20180424-23 2018/04/24
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20180424-23
            .song
                h4#20180421-21 2018/04/21
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20180421-21
            .song
                h4#20180420-20 2018/04/20
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20180420-20
            .song
                .audio(tags="Music - Full, Music - Usual") 20180420-19
            .song
                h4#20180419-18 2018/04/19
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20180419-18
            .song
                h4#20180413-17 2018/04/13
                .audio(tags="Music - Full, Music - Usual") 20180413-17
            .song
                h4#20180324-14 2018/03/24
                .audio(tags="Featured - OK, Music - Full, Music - Usual") 20180324-14
            .song
                h4#20180226-13 2018/02/26
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20180226-13
            .song
                h4#20180129-8 2018/01/29
                .audio(tags="Featured - OK, Music - Full, Music - Variety") 20180129-8
            .song
                h4#20180125-5 2018/01/25
                .audio(tags="Music - Full, Music - Usual") 20180125-5
        .spacer
    div#toc-wrapper
        h2(style="padding: 16px; cursor: pointer;" class="noscroll" onclick="toggleTOC()") Warp Zone
        div#toc-outer: div#toc
block postbody
    style.
        yt img { width: 300px; }
        #toc-wrapper {
            background-color: var(--background);
            border: 8px var(--text) solid;
            position: fixed;
            top: 8px;
            right: 8px;
            text-align: center;
            padding: 8px;
            border-radius: 8px;
            opacity: 0.5 !important;
        }
        #toc-wrapper:hover, #toc-wrapper:has(#toc.active) { opacity: 1 !important; }
        #toc-outer {
            max-height: calc(100vh - 100px);
            overflow-y: auto;
        }
        #toc {
            overflow: hidden;
            transition: all 0.5s;
            text-align: left;
        }
        #toc-wrapper h2 { margin: 0; }
        #toc a { text-decoration: none; }
        .yeargroup { transition: height 0.5s; overflow: hidden; }
        .yeargroup.collapsed { height: var(--bar-height) !important; }
        .tag { width: 128px; image-rendering: smooth; }
        .tag-wrapper { width: 0; height: 0; }
        .song:hover, .tag-wrapper:hover, .audio:hover { z-index: 1 !important; }
        .song:has(.tag.Featured-Gold) h4 { color: gold; }
        .song:has(.tag.Featured-Cyan) h4 { color: cyan; }
        .song:has(.tag.Featured-OK) h4 { color: white; }
        .song h4 { color: gray; }
    script.
        let TAG_DESCRIPTION;
        addEvent("onload", async () => {
            TAG_DESCRIPTION = WASD.unpack(await (await fetch("//prod.kr/data/tags.wasd")).text())[0];
            // replace audio and youtube
            yts = [];
            for (let yt of q('yt')) {
                let url = yt.innerText; yt.innerText = "";
                let button = insertElement("button", yt).with("onclick", `this.innerHTML = \`<iframe src="https://www.youtube.com/embed/${url}" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>\`;`);
                let img = insertElement("img", button).with("src", `//img.youtube.com/vi/${url}/maxresdefault.jpg`);
                yts.push(new Promise(resolve => img.onload = resolve));
            }
            foreachElement("audio", el => {
                let link = el.innerText;
                el.innerText = "";
                el.classList.add("hlist");
                insertElement("source", insertElement("audio", el).with("controls", "").with("preload", "none")).with("src", "//prod.kr/audio/" + link + ".ogg").with("type", "audio/ogg");
                insertElement("button", insertElement("a", el).with("href", "//prod.kr/audio/" + link + ".ogg").with("download", "").with("style", "line-height: 1;"), null, "<u>↓</u>").with("title", "Download this song");
                let tags = el.getAttribute("tags").split(",").map(x => x.trim()).filter(x => x !== "");
                let taggroup = insertElement("div", el, "soft spacer hlist between").with("style", `margin-right: auto; padding-left: 32px; max-width: ${tags.length * 160}px`);
                for (let tag of tags) insertElement("img", insertElement("div", taggroup, "tag-wrapper"), "tag " + tag.replaceAll(" ", ""))
                    .with("src", `//prod.kr/images/tags/${tag}.png`)
                    .with("style", `transform: rotate(${random(-5, 5)}deg)`)
                    .with("title", TAG_DESCRIPTION[tag])
                    .with("onerror", "this.src = \"//prod.kr/images/tags/test.png\"");
            });
            // toc
            for (let el of Array.from(document.querySelectorAll('.yeargroup h2, .yeargroup h3, .yeargroup h4, .yeargroup h5, .yeargroup h6'))) {
                let id = el.innerText.trim().toLowerCase().replace(/[^\w\s]+/g, '').replace(/\s+/g, '-');
                el.with('id', id);
                let mark = insertElement('a', 'toc', null, ''.padStart(Number(el.tagName[1]) * 4 - 8).replace(/ /g, '&nbsp;') + el.innerHTML)
                    .with('style', 'display: block; cursor: pointer;').with("onclick", `autoToggleCollapse("${id}")`);
                if (el.parentElement.classList.contains("song")) {
                    if (el.parentElement.querySelector(".tag.Featured-Gold")) mark.style.color = "gold";
                    else if (el.parentElement.querySelector(".tag.Featured-Cyan")) mark.style.color = "cyan";
                    else if (!el.parentElement.querySelector(".tag.Featured-OK")) mark.style.color = "gray";
                }
            }
            height = e('toc').offsetHeight + 'px';
            e('toc').style.maxHeight = '0px';
            busy = false;
            // collapse
            setCSS("bar-height", q(".yeargroup > .hlist")[0].clientHeight + "px");
            await Promise.all(yts);
            foreachElement("yeargroup", yeargroup => { yeargroup.style.height = (yeargroup.clientHeight + 32) + "px"; });
        });

        let busy = true;
        let tocToggled = false;
        function toggleTOC() {
            if (busy) return;
            tocToggled = !tocToggled;
            e('toc').classList.toggle('active');
            e('toc').style.maxHeight = tocToggled ? height : '0px';
        }

        // yearly collapse
        function toggleCollapse(button) {
            let yeargroup = button.parentElement.parentElement;
            let collapsed = yeargroup.classList.contains("collapsed");
            button.innerText = collapsed ? "Collapse" : "Expand";
            yeargroup.classList.toggle("collapsed");
        }
        let selected = null, countdown = 0;
        function autoToggleCollapse(id) {
            selected = id;
            let yeargroup = e(id).parentElement.parentElement;
            let button = yeargroup.querySelector(".collapse");
            if (yeargroup.classList.contains("collapsed")) {
                button.click(); countdown = 500;
            } else countdown = 0;
            autoToggleCollapseTick(id);
        }
        function autoToggleCollapseTick(id) {
            if (id !== selected) return;
            countdown -= 16;
            e(id).scrollIntoView();
            if (countdown > 0) setTimeout(() => autoToggleCollapseTick(id), 16);
            else location.href = "#" + id;
        }