extends ./template/base.pugtemplate
block meta
    - v = true
    - thumbnail = 'https://prod.kr/images/icon/discord.png'
block body 
    p TIP: Click the <u>underlined text</u> to <em>/ponder/</em>...
    h1 pr<em>v</em>d <c>(version 1.0 PREVIEW)</c>
    p: a(href="https://prod.kr/live") prod.kr/live
    p: a(href="https://prod.kr/discord") prod.kr/discord
    p: a(href="https://prod.kr/yt") prod.kr/yt &nbsp;&nbsp; (@prodzpod)
    p: a(href="https://prod.kr/vod") prod.kr/vod  (@prodzvod)
    p: a(href="https://prod.kr/v/lore") Gizmos Explanation (!help)
    p: a(href="https://prod.kr/v/screen") The Screen (!redeem)
    p: a(href="https://prod.kr/v/dex") Multiview + CircleDex
    br
    h2 pr<em>v</em>d.exe
    p <em>prodzpod</em> was first manufactured as an executable <u>"desktop companion"</u> software for Windows 2000. 
    p This instance of <em>prodzpod</em> in specific is installed in a discontinued middle school computer.
    br
    p Software going "alive" is nothing new, especially for a malware that already had elevated priviledge and access to internet long before any of this madness. This thing must be stressing the hell out of that poor PC.
    br
    p Being originated from a toy program, its nature hasn't changed too much. In fact, it's still primitive enough to show self-exclusive behaviours, opting to rename each instances themselves to "avoid conflict". most common variants are ones with its <u>third letter</u> changed.
    br
    p an Online Entity Wiki entry of <em>prodzpod</em> exists, which classifies it as "weakly mutable" and "mostly harmless". due to its mutability, local downloads are still tracked.
    h2 ok but who are you actually
    p <em>pr<span class="random">o</span>d</em> is a <u>zoomer creature</u> that claims to be a game designer.
    p <em>prodzpod</em> goes online every <em class='time'>Thursday 20:00 GMT</em> and <em class='time'>Monday 20:00 GMT</em>. 
    br
    p I love making things. we make things in this household. 
    p This can be a program, we could work on a video game, make music, edit videos... it can really be Anything. <u>we make Anything</u>.
    br
    p Despite the look of this website, <u><em>prod</em> is insanely silly and online.</u> you might even say they're wired. wired to the gills some may say. yes indeed. indeed.
    br
    p In addition to whatever we're making and whatever we're talking about, we have a <u>custom redeem system</u> and an <u>unhinged stream setup</u> that allows you to become a mouse pointer on <a href="https://prod.kr/v/screen">the screen</a>, click on things, drag stuff around, all kinds of stuff.
    br 
    p If you feel wired being in the stream as well, consider joining <a href="https://prod.kr/discord">the discord</a>. it is <u>directly linked to twitch chat</u> and back, you get a neat notification that isnt barely noticable twitch ones, and we hang out together right talk about stuff actually maybe i shouldve lead with that thats like the best thing about discord we chat around we act like normal person to each other ykn
    h2 im using /shoutout through HTTP rn
    br
    .hlist.hard.around
        .shoutout: a(href='https://twitch.tv/digi_shell'): img(src='https://prod.kr/images/v/progenitor.png')
        .shoutout: a(href='https://colonq.computer'): img(src='https://prod.kr/images/v/progenitor.webp')
    br
    p the progenitors
    p it is obvious which part of my existence came from which
    p i thank them a lot
    br
    .hlist.hard 
        .spacer
        .shoutout: a(href='https://www.twitch.tv/imgeiser'): img(src='https://prod.kr/images/v/progenitor.jpg') 
        .spacer
    br
    p actually forced me to go live 
    p enemy
    
    #footnotes 
        h2 Footnotes
        p You're not supposed to see this unless you have nojs lol hello nojser 
        p These are footnotes to underlined texts
        .card
            h3 pondering...
            p You have Stopped Seeing, and Started Looking. You feel zooted...
        .card
            h3 Going "shimeji tuber" style
            p its insanely fucked up how people call this virtual pets too now i feel like i extra copied my progenitor lol what the hell (this was a natural conclusion from the windows 2000 layout the layout came first guys trust no plaigiarism here please dont kill)
        .card
            h3 I do this OOC actually
            p I like to define "eras" of my life by my main project at the time and the state of mind i was at. It's actually quite personal but in a way that nobody can really guess the reason based off a single letter change.
            br
            p currently I'm like at my... 8th? sure. 8th major season. honestly i lost track, but it goes something like pr<em>z</em>d, pr<em>n</em>d, pr<em>x</em>d, pr<em>c</em>d, pr<em>q</em>d, pr<em>k</em>d and so on. I usually refer to them as "[letter] season". If you couldn't tell, we're on that <em>v</em> season now.
        .card 
            h3 Are you an adult 
            p yes, im slightly younger than windows xp
            h3 What are your pronouns?
            p NVIDIA GeForce RTX 3060 Ti, Intel Core i5 13600K, 32GB RAM, minidsp 1 with EQ copied from stackoverflow, some random webcam i found at my dads garage, 2 1080p monitors
            h3 What are your computer specs?
            p They/them. 
        .card 
            h3 but i came in ur stream and you werent making you were Gaming 
            p Our broadcast is split into 3 parts. part 1 and 3 is making stuff.
            p Part 2 is a sort of a half time cool-off where I perform above average gaming. most likely this means 2-3 games of tetris.
        .card 
            h3 why are you like this 
            p i minmaxxed autism 
            img(src='https://prod.kr/images/v/lol.png')
            p this is actually kinda untrue tho im not rly depressed since like last year im very happy n balling 
            p also fuck you for calling my speech abnormal (affectionate)
            br
            h3 how do you come up with this 
            img(src='https://prod.kr/images/v/knowledge.png')
            br
            h3 what the hell is this "wit cord" you keep bringing up 
            p: a(href='http://witscord.net/~staz/w/index.php/Witscord') The Witness Discord (the sauce for all zootedness)
        .card 
            h3 how do i gain access to the system 
            p <a href="https://prod.kr/v/screen">the screen</a> is here to help you, if this is still confusing check out <a href="https://prod.kr/v/lore">the lore</a> that explains all the stream stuff we did so far
        .card 
            h3 what is this setup 
            p check out the setup in <a href="https://github.com/prodzpod/stream">GitHub</a>
            h3 ...Javascript.
            p Yeah sorry im a poser. im a faker. im a filthy web dev that edits Javascript on Visual Studio Code and runs it on Node dot J S and its a fucked up world. i am sorry. i wont activate windows tho
        .card 
            h3 this means you can also "join discord" through irc
            p just log onto twitch irc and channel #prodzpod lol
            h3 also why does the discord not have sub role / emoji 
            p idk

block postbody 
    style.
        .shoutout {
            max-width: 240px;
            padding: 16px;
            border-radius: 50%;
            border: 4px solid var(--text);
        }
        .shoutout img { 
            width: 100%;
            border-radius: 50%;
        }
        .card img { 
            max-width: calc(100% - 32px); 
            margin: 16px;
        }
    script.
        let footnotes = [];
        addEvent('onload', () => {
            let source = q('u'); footnotes = q('#footnotes .card').map(x => x.outerHTML);
            for (let i = 0; i < source.length; i++) source[i].outerHTML = `<button class="footnote" onclick="toggleFootnote(${i}, this)"><u>${source[i].innerHTML}</u></button>`;
            removeAllChildren('footnotes');
            const WEEKDAY_FROM = { 'thursday': '01', 'friday': '02', 'saturday': '03', 'sunday': '04', 'monday': '05', 'tuesday': '06', 'wednesday': '07' }
            const WEEKDAY_TO = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
            for (let el of document.getElementsByClassName('time')) {
                let [day, time] = split(el.innerText, " ", 1);
                let date = new Date(`1970-01-${WEEKDAY_FROM[day.toLowerCase()]} ${time}`)
                el.innerText = `${WEEKDAY_TO[date.getDay()]} ${date.getHours().toString().padStart(2, '0')}:${date.getMinutes().toString().padStart(2, '0')} (in your timezone!)`;
            }
        });

        function toggleFootnote(i, source) {
            if (e(`footnote-${i}`)) removeElement(`footnote-${i}`);
            else {
                let el = insertElement('div', null, null, footnotes[i]).with('id', `footnote-${i}`);
                while (source.parentElement.tagName !== 'DIV') source = source.parentElement;
                setNextSibling(el, source);
            }
        }