extends ../template/base.pugtemplate

block meta
    - v = true
    - title = 'docket for today'
    - description = 'hii :3'
block header
block body-outer
    #docket.main.most
        h1.element(x="228" y="286" w="256" h="512" a="0") Docket
        p.element(x="388" y="158" w="256" h="32" a="90") hii :3
        p.element(x="640" y="64" w="256" h="64" a="0") huge
        p.element(x="640" y="128" w="256" h="64" a="0") announcement
        p.element(x="836" y="96" w="128" h="96" a="0") &lt;- season 2 imminent???
        p.element(x="836" y="160" w="128" h="16" a="0") season 1 compilation video also imminent???
        p.element(x="580" y="104" w="126" h="16" a="0") starting this week<br>we begin our journey<br>to be real
        p.element(x="540" y="256" w="512" h="32" a="240") activity<br>chart
        p.element(x="768" y="180" w="512" h="16" a="0") prep
        p.element(x="768" y="196" w="512" h="16" a="0") good sleep (+2h)
        p.element(x="768" y="214" w="512" h="16" a="0") model (+1h)
        p.element(x="768" y="230" w="512" h="16" a="0") various startup prep (picking song, topics, etc, 1h)
        p.element(x="768" y="246" w="512" h="16" a="0") stream itself (+5h)
        p.element(x="768" y="262" w="512" h="16" a="0") thursday only
        p.element(x="768" y="278" w="512" h="16" a="0") docket (+4h)
        p.element(x="768" y="294" w="512" h="16" a="0") lore updates (+2h)
        p.element(x="768" y="326" w="512" h="8" a="0") idk how it ended up but its taking quite a lot of time doing stream stuff
        p.element(x="768" y="334" w="512" h="8" a="0") i didnt even count like, going to other people streams and """networking""" and all that
        p.element(x="768" y="350" w="512" h="16" a="0") its not like i dont enjoy stuff like this right this is fun and cool but i really am just doing this for fun<br>and i dont plan to make money nor i realistically see it happening
        p.element(x="768" y="362" w="512" h="32" a="0") the problem
        p.element(x="768" y="400" w="512" h="32" a="180") can i keep this up???
        p.element(x="960" y="432" w="128" h="16" a="0") i will try my best but<br>this is a preemtive warning<br>that things may get hectic<br>on my end from now on
        p.element(x="640" y="600" w="1000" h="16" a="0") pebbles
        p.element(x="128" y="600" w="64" h="64" a="5") <a href="https://cdn.discordapp.com/attachments/1219954701726912586/1307180458831908925/image.png?ex=673ff5ab&is=673ea42b&hm=5b2d72fb028848ee1bd95076871bb21ed81fc979d76e852abdb97c6bcb6199fc&">random<br>geiser<br>encounter</a>
        p.element(x="256" y="600" w="64" h="64" a="-10") <a href="https://imgur.com/a/skYJLMt">yall have you<br>seen the control o<br>twitch thing it looks<br>pretty cool</a>
        p.element(x="384" y="600" w="64" h="64" a="12") <a href="https://thunderstore.io/package/prodzpod/">sudden risk of rain<br>extreme edition</a>
        p.element(x="512" y="600" w="64" h="64" a="0") <a href="https://prod.kr/v/lore">monday :3<br>we did woggle<br>sleeby</a>
        p.element(x="640" y="600" w="64" h="64" a="26") <a href="https://pub.colonq.computer/~prod/yume/blog/?page=241120">maybe we should one day<br>do a monday stream where we<br>fill out these blog entries<br>for a solid 4 hours</a>
        p.element(x="768" y="600" w="64" h="64" a="-40") making EVIL 1-1?!
        p.element(x="896" y="600" w="64" h="64" a="3") house<br>cleaning
        p.element(x="1000" y="660" w="256" h="8" a="0") lore uploaded
        p.element(x="1000" y="668" w="256" h="8" a="0") source code posted
        p.element(x="1000" y="676" w="256" h="8" a="0") risk of rain mod bug fixed
        p.element(x="1000" y="684" w="256" h="8" a="0") tetris grinded
        p.element(x="1024" y="600" w="256" h="32" a="72") sesh time :3
        p.element(x="1060" y="600" w="64" h="64" a="26") <a href="https://pub.colonq.computer/~prod/yume/blog/?page=241122">SUDDENLY<br>im here again btw</a>
        p.element(x="500" y="440" w="256" h="32" a="0") good news: upcoming insane variety december
        p.element(x="686" y="470" w="640" h="8" a="0") - "craft" style
        p.element(x="686" y="478" w="640" h="8" a="0") - urobot
        p.element(x="686" y="486" w="640" h="8" a="0") - looksyv3
        p.element(x="686" y="494" w="640" h="8" a="0") - RETURN of oauth
        p.element(x="686" y="502" w="640" h="8" a="0") - going quat
        p.element(x="686" y="510" w="640" h="8" a="0") - music making stream??
        p.element(x="686" y="518" w="640" h="8" a="0") - art stream?? (emote THIRD wave also ??)
        p.element(x="686" y="526" w="640" h="8" a="0") - rhythm gaming??
        p.element(x="686" y="534" w="640" h="8" a="0") - website REVENGE!?
        p.element(x="686" y="542" w="640" h="8" a="0") - the DOUBLE videomode?????
        p.element(x="460" y="270" w="64" h="16" a="0") todays woggle
        p.element(x="430" y="354" w="128" h="128" a="0") <img src="https://cdn.discordapp.com/attachments/1151370107575087165/1309236555310829660/image.png?ex=6740d90f&is=673f878f&hm=c2fab011c0273de94cc6e466252d620d65c7a94ae5feb461e6edca6d4e58241a&">
        p.element(x="1064" y="270" w="64" h="500" a="0") to<br>day<br>s<br>doc<br>ket<br>:<br>we<br>are<br>fi<br>nal<br>ly<br>go<br>ing<br>ag<br>gre<br>s<br>s<br>ive<br>st<br>yle
        p.element(x="228" y="676" w="256" h="32" a="0") e
        p.element(x="600" y="676" w="512" h="8" a="0") november 21 (hypertext bestiary 17)
block postbody 
    style.
        li { margin-left: 32px; display: block; }
        h2 img {
            width: 64px;
            image-rendering: crisp-edges;
        }
        video { width: 512px; }
        #docket { 
            transition: 0.5s all; 
            transform-origin: center; 
        } 
        #docket, .title, h1, h2, h3, h4, h5, h6 { font-family: serif; }
        .element {
            position: absolute;
            line-height: 0.7;
        }
    script.
        let zoomed = false;
        addEvent("onload", () => {
            addEvent("onclick", (el) => {
                zoomed = !zoomed;
                let pos = e("docket").getBoundingClientRect();
                let x = (window.innerWidth / 2) - (el.clientX - pos.x);
                let y = (window.innerHeight / 2) - (el.clientY - pos.y);
                e("docket").style.transform = zoomed 
                    ? `scale(400%) translate(${x}px, ${y}px)` 
                    : `scale(100%) translate(0, 0)`;
            }, "docket");
            foreachElement("element", (o) => {
                let pos = o.getBoundingClientRect();
                o.style.left = (Number(o.getAttribute("x")) - (pos.width / 2)) + "px";
                o.style.top = (Number(o.getAttribute("y")) - (pos.height / 2)) + "px";
                o.style.transform = `rotate(${o.getAttribute("a")}deg) scale(${o.getAttribute("w") / pos.width}, ${o.getAttribute("h") / pos.height})`;
            });
        });