extends ../template/base.pugtemplate
block meta
    - v = true
    - title = 'Chungus Dashboard'
    - description = 'Check your Chungus'
    - icon = "https://prod.kr/images/icon/lala.png"
block body 
    h1 Your !Chungus Profile
    .hlist#not-logged-in
        .spacer
        button(onpointerdown="login()") Log Into Twitch
        .spacer
    .vlist#logged-in
        h2 <img id="profile"><span id="name"></span>
        .hlist
            p Farmer
            p &nbsp;|&nbsp;
            p <span id="sweet"></span>🍏
            p &nbsp;|&nbsp;
            p <span id="sour"></span>🍋
            p &nbsp;|&nbsp;
            p <span id="spicy"></span>🌶
            p &nbsp;|&nbsp;
            p <span id="money"></span>ణ
            .spacer
            button(onpointerdown="openPayMenu()") Pay
        .hlist#pay-menu
            p Pay
            input#pay-amount(type="number" min="0" placeholder="Amount...")
            p ణ to
            input#pay-recipient.spacer(placeholder="Recipient (twitch id without @)...")
            button(onpointerdown="payConfirm()") Confirm
        h2 Inventory
        .vlist#inventory
        .hlist#gift-menu
            p Give <em id="gift-item"></em> to 
            input#gift-recipient.spacer(placeholder="Recipient (twitch id without @)...")
            button(onpointerdown="giftConfirm()") Confirm

block postbody
    style.
        #profile { width: 128px; }
        .selected { color: gold; }
    script.
        let user;
        addEvent("onload", async () => {
            const query2 = unentry(location.hash.slice(1).split("&").map(x => x.split("=")));
            const token = query2.access_token ?? (typeof(localStorage.getItem("chungus-token")) === "string" ? wtou(localStorage.getItem("chungus-token")) : null);
            if (token) user = await initWS(token);
            if (user) {
                localStorage.setItem("chungus-token", utow(token));
                removeElement("not-logged-in");
                update();
            }
            else removeElement("logged-in");
        });
        let ws;
        function initWS(token) {
            return new Promise(resolve => {
                ws = new WebSocket(`wss://prod.kr/chungus?token=${token}`);
                ws.onopen = (() => { console.log("Socket Connected!"); });
                ws.onmessage = (_message => {
                    try {
                    const message = JSON.parse(_message.data.toString());
                    switch (message[0]) {
                        case "init":
                            resolve(message[1]);
                            break;
                        case "update":
                            user = message[1];
                            update();
                            break;
                    }} catch {}
                });
                ws.onclose = (() => {
                    console.log("Socket Disconnected, Reconnecting...");
                    setTimeout(() => initWS(token), 500);
                });
            });
        }
        let ID = 0, waitList = {};
        function send(...msg) {
            if (ws?.readyState !== 1) return new Promise(resolve => { resolve(undefined); }); ID++;
            ws.send(WASD.pack(ID, ...msg));
            return new Promise(resolve => waitList[ID] = resolve);
        }
        function login() { location.href = `https://id.twitch.tv/oauth2/authorize?response_type=token&client_id=z2b24dvkpl14zgzwgunte0jh5evcb6&redirect_uri=https://prod.kr/lala/chungus/`; }
        //
        const COOKABLE = ["fruit", "vegetable", "fish", "plant", "meat"];
        let total;
        function update() { 
            e("profile").with("src", user.profile);
            e("name").innerHTML = user.name;
            e("money").innerHTML = user.money;
            removeAllChildren("inventory");
            total = { sweet: 0, sour: 0, spicy: 0 };
            for (const entry of user.inventory) {
                if (COOKABLE.includes(entry.type)) renderIngredient(entry);
                else if (entry.type === "food") renderFood(entry);
                else renderOther(entry);
            }
            e("sweet").innerHTML = total.sweet;
            e("sour").innerHTML = total.sour;
            e("spicy").innerHTML = total.spicy;
            e("pay-menu").style.display = "none";
            e("gift-menu").style.display = "none";
        }
        function renderIngredient(entry) {
            let parent = renderBase(entry);
            insertElement("p", parent, null, `&nbsp;/&nbsp;${entry.sweet}🍏 ${entry.sour}🍋 ${entry.spicy}🌶`);
            insertElement("div", parent, "spacer");
            insertElement("button", parent, null, "Cook").with("onpointerdown", `cook(${user.inventory.indexOf(entry)})`);
            if (entry.value > 0) {
                insertElement("button", parent, null, "Sell").with("onpointerdown", `sell(${user.inventory.indexOf(entry)})`);
                insertElement("button", parent, null, "Gift").with("onpointerdown", `openGiftMenu(${user.inventory.indexOf(entry)})`);
            }
        }
        function renderFood(entry) {
            let parent = renderBase(entry);
            let isSelected = user.select.includes(user.inventory.indexOf(entry));
            if (isSelected) {
                parent.classList.add("selected");
                total.sweet += entry.sweet;
                total.sour += entry.sour;
                total.spicy += entry.spicy;
            }
            insertElement("p", parent, null, `&nbsp;/&nbsp;${entry.sweet}🍏 ${entry.sour}🍋 ${entry.spicy}🌶`);
            insertElement("div", parent, "spacer");
            insertElement("button", parent, null, isSelected ? "Deselect" : "Select").with("onpointerdown", `select(${user.inventory.indexOf(entry)})`);
            if (entry.value > 0) {
                insertElement("button", parent, null, "Sell").with("onpointerdown", `sell(${user.inventory.indexOf(entry)})`);
                insertElement("button", parent, null, "Gift").with("onpointerdown", `openGiftMenu(${user.inventory.indexOf(entry)})`);
            }
        }
        function renderOther(entry) {
            let parent = renderBase(entry);
            insertElement("div", parent, "spacer");
            if (entry.value > 0) {
                insertElement("button", parent, null, "Sell").with("onpointerdown", `sell(${user.inventory.indexOf(entry)})`);
                insertElement("button", parent, null, "Gift").with("onpointerdown", `openGiftMenu(${user.inventory.indexOf(entry)})`);
            }
        }
        function renderStars(item) {
            let ret = "";
            if (item.star >= 1) ret += "[";
            if (item.star >= 6) ret += ({
                6: "🌟Masterwork",
                7: "🌀Mythical",
                8: "🌌Legendary",
                // to come...
            })[Math.floor(item.star)] ?? " ? ? ? ";
            else for (let i = 0; i < Math.floor(item.star); i++) ret += "★";
            if (item.star >= 1) ret += "] ";
            return ret;
        }
        function renderBase(entry) {
            const parent = insertElement("div", "inventory", "hlist");
            insertElement("img", parent, "icon").with("src", `https://prod.kr/images/chungus/${split(entry.name, " ").at(-1).toLowerCase()}.png`);
            insertElement("p", parent, null, `${renderStars(entry)}${entry.name}`);
            if (entry.value > 0) insertElement("p", parent, null, `&nbsp;(Sell Value: ${entry.value}ణ)`);
            return parent;
        }
        function cook(idx) {
            send("chungus", "cook", idx + 1);
        }
        function sell(idx) {
            send("chungus", "sell", idx + 1);
        }
        function select(idx) {
            let idx2 = user.select.indexOf(idx);
            if (idx2 !== -1) send("chungus", "deselect", idx2 + 1);
            else send("chungus", "select", 0, idx + 1);
        }
        function openPayMenu() {
            e("pay-menu").style.display = "flex";
        }
        function payConfirm() {
            let amount = nullish(e("pay-amount").value);
            let recipient = nullish(e("pay-recipient").value);
            if (!amount || !recipient) return;
            send("chungus", "pay", recipient, amount);
        }
        let giftSelected = -1;
        function openGiftMenu(idx) {
            e("gift-menu").style.display = "flex";
            giftSelected = idx;
            e("gift-item").innerHTML = renderStars(user.inventory[idx]) + user.inventory[idx].name;
        }
        function giftConfirm() {
            let recipient = nullish(e("gift-recipient").value);
            if (!recipient) return;
            send("chungus", "gift", recipient, giftSelected);
        }